<!-- start section navbar -->
<nav id="main-nav-subpage" class="subpage-nav">
  <div class="row">
    <div class="container d-flex justify-content-center">

      <div class="logo">
        <a [routerLink]="['/home']" routerLinkActive="router-link-active">
          <img src="assets/images/logo-nevelop.png" alt="logo">
        </a>
      </div>
    </div>
  </div>
</nav>
<!-- End section navbar -->
<!-- start section main content -->
<div class="main-content paddsection">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="container-main single-main">
            <div class="col-md-12">
              <div class="block-main mb-30">
                <img src="assets/images/angular.svg" class="img-responsive" alt="reviews2">
                <div class="content-main single-post padDiv">
                  <div class="journal-txt">
                    <h4>
                      <a href="#">สร้าง Project แบบง่ายด้วย AngularJS 5+ และ Bootstrap
                      </a>
                    </h4>
                  </div>
                  <div class="post-meta">
                    <ul class="list-unstyled mb-0">
                      <li class="author">by:
                        <a href="#">Nipon Jaiboon</a>
                      </li>
                      <li class="date">date:
                        <a href="#">March 24, 2018</a>
                      </li>
                      <!-- <li class="commont"><i class="ion-ios-heart-outline"></i><a href="#">3 Comments</a></li> -->
                    </ul>
                  </div>
                  <p class="mb-30">
                    <b>สิ่งที่จะได้รับเมื่ออ่านบทความนี้</b>
                    <br> - จะได้รู้พื้นฐานการสร้าง Project AngularJS 5+ ส่วนของการสร้าง Component การจัดการ Selector, TemplateUrl,
                    Routes เป็นต้น
                    <br>- จะได้เรียนรู้วิธีการติดตั้ง Bootstrap 4 และการตั้งค้าเพื่อนำมาใช้ใน Angular
                    <br>- เรียนรู้ Class พื้นฐาน ของ Bootstrap 4
                    <br>- การ Build เพื่อ Deploy Project เพื่อใช้งาน บทความนี้เหมาะกับใคร ผู้ที่ต้องการสิ่งแปลกใหม่เพื่อพัฒนาตัวเองในแนวทางใหม่
                    ไม่แนะนำสำหรับ Programmer หรือ Software Developer ที่มีประสบการณ์สูงอยู่แล้ว
                    <br>
                    <b>เริ่มเรียนรู้</b>
                    <br> Step 1 ต้องทำการติดตั้ง nodejs ก่อน สามารถเข้าไป download เพื่อติดตั้งได้จาก link นี้เลย nodejs.org
                    <br> Step 2 ให้ติ้งตั้ง Angular ผ่าน windows command line (cmd) ด้วยคำสั่ง npm install -g @angular/cli
                    <br> Step 3 สร้าง Project ด้วย cmd คำสั่ง ng new nevelop-spa (nevelop-spa คือ ชื่อ project ที่ต้องการจะสร้าง)
                    <br> Step 4 เมื่อสร้างเส็จแล้วให้ใช้ เครื่องมือในการจัดการ text ในที่นี้ผมใช้ vs code คลิกเพื่อ download
                    ได้เลย
                    <br>Step 5 ทำการ run project โดยใช้ cmd ด้วยคำสั่ง ng serve
                    <br>Step 6 ตั้งตั้ง Bootstrap ก่อนติดตั้งต้องหยุดการทำงานของ ng serve (ใน cmd ใช้ ctrl+c เลือก y) หลังจากนั้นใช้คำสั่ง
                    npm install bootstrap เพื่อติดตั้ง
                    <br> Step 7 ให้สร้าง component 3 ส่วน ไว้ที่ app คือ header, main-content, footer ซึ่ง code ภายในผมจะแนบไว้ภายหลังให้สามารถ
                    download มาดูได้
                    <br> Step 8 ในส่วนของ herder ให้ใส่ code ลงไป
                    <br>
                  </p>
                  <blockquote>สามารถเข้าไป่านเพิ่มเติมได้จาก link http://nevelop.blogspot.com/2018/05/project-angularjs-5-bootstrap.html
                  </blockquote>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-12">
                <div class="comments text-left padDiv mb-30">
                  <div class="entry-comments">
                    <h6 class="mb-30">4 comments</h6>
                    <ul class="entry-comments-list list-unstyled">
                      <li>
                        <div class="entry-comments-item">
                          <img src="assets/images/avatar.jpg" class="entry-comments-avatar" alt="">
                          <div class="entry-comments-body">
                            <span class="entry-comments-author">Sommer Christian</span>
                            <span>
                              <a href="#">fev 14, 2018 at 12:48 pm</a>
                            </span>
                            <p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam justo, ullamcorper tincidunt
                              pellentesque in, condimentum ut enim. Aenean at pharetra diam, quis vulputate urna. </p>
                            <a class="rep" href="#">Reply</a>
                          </div>
                        </div>
                        <ul class="entry-comments-reply list-unstyled">
                          <li>
                            <div class="entry-comments-item">
                              <img src="assets/images/avatar.jpg" class="entry-comments-avatar" alt="">
                              <div class="entry-comments-body">
                                <span class="entry-comments-author">Sara Smith</span>
                                <span>
                                  <a href="#">fev 14, 2018 at 12:51 pm</a>
                                </span>
                                <p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam justo, ullamcorper tincidunt
                                  pellentesque in, condimentum ut enim. Aenean at pharetra diam, quis vulputate urna.</p>
                                <a class="rep" href="#">Reply</a>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <div class="entry-comments-item">
                          <img src="assets/images/avatar.jpg" class="entry-comments-avatar" alt="">
                          <div class="entry-comments-body">
                            <span class="entry-comments-author">Andrew Lupkin</span>
                            <span>
                              <a href="#">fev 14, 2018 at 12:55 pm</a>
                            </span>
                            <p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam justo, ullamcorper tincidunt
                              pellentesque in, condimentum ut enim. Aenean at pharetra diam, quis vulputate urna. </p>
                            <a class="rep" href="#">Reply</a>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div> -->
            <!-- <div class="col-lg-12">
                <div class="cmt padDiv">
                  <form id="comment-form" method="post" action="" role="form">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <input id="form_name" type="text" name="name" class="form-control" placeholder="Name *" required="required">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <input id="form_email" type="email" name="email" class="form-control" placeholder="email *" required="required">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <input id="form_name" type="text" name="website" class="form-control" placeholder="Website">
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-group">
                          <textarea id="form_message" name="message" class="form-control" placeholder="Message *" style="height: 200px;" required="required"></textarea>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <input type="submit" class="btn btn-defeault btn-send" value="Send message">
                      </div>
                    </div>
                  </form>
                </div>
              </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  </div> -->
<!-- start section main content -->
