<section id="document">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">การคำนวณค่าดัชนีและตัวชี้วัด (Database)</h2>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-9 col-lg-4 ">
                <div class="row mt-3">
                    <div class="col-3">
                        <label for="dbYear" class="col-form-label font-weight-bold">ดัชนีปี :</label>
                    </div>
                    <div class="col-9">
                        <div class=" d-inline-block">
                            <select class="custom-select" name="Year" id="dbYear" [(ngModel)]="year" (change)="changYearFilter(year)">
                <!-- <option value="0">- - - กรุณาเลือก - - -</option> -->
                <option *ngFor="let year of arrYear" [value]="year">{{year}}</option>
              </select>
                        </div>
                        <div class="d-inline-block ml-3">
                            <i class="fa fa-spinner fa-lg fa-spin" *ngIf="loading"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 col-lg-8 text-right mt-3">
                <button type="button" class="btn btn-outline-success" (click)="newIndustryIndicator()" [disabled]="adding">
          <i class="fa fa-plus-circle mr-1"></i>เพิ่ม
        </button>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead class="text-center">
                            <tr>
                                <th scope="col">ปี</th>
                                <th scope="col">ชุดข้อมูลที่</th>
                                <th scope="col">จำนวนแบบสอบถาม</th>
                                <th scope="col">จำนวนข้อมูลทุติยภูมิ</th>
                                <th scope="col">ดัชนีอุตสาหกรรม</th>
                                <th scope="col">การใช้งาน</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dataRow of data">
                                <th scope="row" class="text-center">{{dataRow.year}}</th>
                                <td class="text-center">{{dataRow.version}}</td>
                                <td class="text-right">{{dataRow.countSurvey}}</td>
                                <td class="text-right">{{dataRow.countSecondary}}</td>
                                <td class="text-right">
                                    <span *ngIf="dataRow.avgIndex!=-1"> {{dataRow.avgIndex}}</span>
                                    <button type="button" class="btn btn-block btn-primary" (click)="calculate()" *ngIf="dataRow.avgIndex==-1" [disabled]="process">
                    <i class="fa fa-spinner fa-spin" style="font-size:24px" *ngIf="process"></i>
                    คำนวณ</button>
                                </td>
                                <td class="text-center">
                                    <div class="custom-control custom-radio custom-control-inline  ml-3">
                                        <input type="radio" id="rdl{{dataRow.id}}" name="rdl{{dataRow.year}}" class="custom-control-input" [(ngModel)]="use" [value]="dataRow.id">
                                        <label class="custom-control-label" for="rdl{{dataRow.id}}"></label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                        <tfoot class="text-center">
                            <tr>
                                <td colspan="5"></td>
                                <td>
                                    <button type="button" class="btn btn-block btn-success" (click)="submit()" [disabled]="process || adding">
                    <i class="fa fa-spinner fa-spin" style="font-size:24px" *ngIf="saving"></i>
                    บันทึก</button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

    </div>
</section>