@import '../../node_modules/font-awesome/scss/font-awesome.scss';

@font-face {
  font-family: "Kanit";
  src: url(/assets/fonts/Kanit-ExtraLight.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url(/assets/fonts/Kanit-ExtraLightItalic.ttf) format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Kanit";
  src: url(/assets/fonts/Kanit-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url(/assets/fonts/Kanit-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Kanit";
  src: url(/assets/fonts/Kanit-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url(/assets/fonts/Kanit-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Kanit";
  src: url(/assets/fonts/Kanit-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url(/assets/fonts/Kanit-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Kanit";
  src: url(/assets/fonts/Kanit-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url(/assets/fonts/Kanit-SemiBoldItalic.ttf) format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Kanit";
  src: url(/assets/fonts/Kanit-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url(/assets/fonts/Kanit-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Kanit";
  src: url(/assets/fonts/Kanit-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url(/assets/fonts/Kanit-ExtraBoldItalic.ttf) format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Kanit";
  src: url(/assets/fonts/Kanit-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url(/assets/fonts/Kanit-BlackItalic.ttf) format("truetype");
  font-weight: 900;
  font-style: italic;
}