            // Core variables
            @import './variables.scss';
            @import './mixins.scss';
            @import './vendor.scss';
            @import './fonts.scss';
            @import './icons.scss'; // Global CSS
            @import "./global.scss"; // Components
            @import "./navbar.scss"; // @import "./masthead.scss";
            // @import "./services.scss";
            @import "./portfolio.scss"; // @import "./timeline.scss";
            // @import "./team.scss";
            // @import "./contact.scss";
            @import "./footer.scss";
            html {
                height: 100%;
            }
            
            body {
                font-family: "Kanit", Tahoma, "Arial, Ms Sans Serif";
                font-weight: 300;
                font-size: 15px;
                padding-right: 0px !important;
                padding-top: 70px;
            }
            
            .pointer {
                cursor: pointer;
            }
            
            .document {
                padding: 0.75rem 1.25rem;
                background-color: rgba(0, 0, 0, 0.03);
                border-bottom: 1px solid rgba(0, 0, 0, 0.125);
            }
            
            .document-item:first-child {
                padding-top: 15px;
            }
            
            .document-item {
                font-size: 20px;
                padding-top: 15px;
                padding-bottom: 15px;
                border-bottom: 1px solid #e2c578;
            }
            
            .document-thumbnail {
                height: 80px;
                background-size: cover;
                width: 100%;
            }
            
            section#signin {
                padding-top: 60px;
                padding-bottom: 0px;
            }
            
            section#about {
                padding-top: 5px;
                min-height: 600px;
            }
            
            section#admin-dashboard {
                .card {
                    min-height: 260px;
                    height: 100%;
                }
                .card-footer {
                    padding: 0.75rem 1.25rem;
                    background-color: white;
                    border-top: 0px;
                }
            }
            
            .radar-chart {
                cursor: pointer;
                // margin-left: -100px;
                // margin-right: -100px;
            }
            
            @media(min-width:768px) {
                .radar-chart {
                    margin-left: unset;
                    margin-right: unset;
                }
                body {
                    position: relative;
                    min-height: 100%;
                    padding-bottom: 141px;
                }
                footer {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                }
            }
            
            .radarTooltip {
                background-color: rgba(0, 0, 0, 0.823);
                color: white;
            }
            
            .col-score {
                @include make-col-ready();
                @include media-breakpoint-up(xs) {
                    @include make-col(6, 24);
                }
                @include media-breakpoint-up(sm) {
                    @include make-col(4, 24);
                }
                @include media-breakpoint-up(md) {
                    @include make-col(3, 24);
                }
                @include media-breakpoint-up(lg) {
                    @include make-col(3, 24);
                }
                @include media-breakpoint-up(xl) {
                    @include make-col(2, 24);
                }
            }
            
            .col-arrow {
                @include make-col-ready();
                @include media-breakpoint-up(xs) {
                    @include make-col(3, 24);
                }
                @include media-breakpoint-up(sm) {
                    @include make-col(2, 24);
                }
                @include media-breakpoint-up(md) {
                    @include make-col(2, 24);
                }
                @include media-breakpoint-up(lg) {
                    @include make-col(2, 24);
                }
                @include media-breakpoint-up(xl) {
                    @include make-col(1, 24);
                }
            }
            
            .row-head-industry {
                font-weight: 400; // background: rgb(75, 201, 16);
                color: #970612;
            }
            
            .group-of-industry {
                .btn {
                    padding: 0px;
                }
                .btn-link,
                .btn-link:hover {
                    color: black;
                }
                background: #b99ce7;
            }
            
            .group-of-industry-item {
                background: #79cec2;
            }
            
            .group-of-industry-item-sub {
                background: white;
            }
            
            .row-head {
                font-weight: 400;
                background: #FABF8F;
                color: #974706;
            }
            
            .row-index {
                font-weight: 400;
                background: #00B050;
                color: white;
            }
            
            .row-Inputs {
                font-weight: 400;
                .btn {
                    padding: 0px
                }
                .btn-link,
                .btn-link:hover {
                    color: black;
                }
                .sub-index {
                    background: #7030a0;
                    color: white;
                }
                .pillar {
                    background: #b1a0c7;
                }
                .group-of-indicator {
                    background: #e4dfec;
                }
                .indicator {
                    background: white;
                }
            }
            
            .row-Process {
                font-weight: 400;
                .btn {
                    padding: 0px
                }
                .btn-link,
                .btn-link:hover {
                    color: black;
                }
                .sub-index {
                    background: #215967;
                    color: white;
                }
                .pillar {
                    background: #92CDDC;
                }
                .group-of-indicator {
                    background: #DAEEF3;
                }
                .indicator {
                    background: white;
                }
            }
            
            .row-Outputs {
                font-weight: 400;
                .btn {
                    padding: 0px
                }
                .btn-link,
                .btn-link:hover {
                    color: black;
                }
                .sub-index {
                    background: #e26b0a;
                    color: white;
                }
                .pillar {
                    background: #FABF8F;
                }
                .group-of-indicator {
                    background: #FDE9D9;
                }
                .indicator {
                    background: white;
                }
            }
            
            .font-bold-normal {
                font-weight: 400;
            }
            
            .star {
                color: #f04425db;
            }
            
            .note-editable {
                min-height: 500px;
                font-size: 14px;
            }
            
            .card-text-fontsub {
                color: #606060d5;
            }
            
            section#admin-dashboard {
                a {
                    color: #55595C !important
                }
            }
            
            section#pmi {
                hr {
                    margin-top: 0px;
                }
            }
            
            .user {
                i {
                    cursor: pointer;
                    padding: 0.7rem;
                }
                a {
                    cursor: pointer;
                }
            }
            
            .table-overflow {
                overflow-x: auto;
                margin-bottom: 15px;
            }
            
            .table-overflow::-webkit-scrollbar {
                width: 0.5em;
            }
            
            .table-overflow::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            }
            
            .table-overflow::-webkit-scrollbar-thumb {
                background-color: darkgrey;
                outline: 1px solid slategrey;
            }
            
            .nobr {
                white-space: nowrap;
            }
            
            .removeFile {
                color: red !important;
                cursor: pointer;
            }
            
            .radarTooltip {
                font-family: "Kanit", Tahoma, "Arial, Ms Sans Serif" !important;
                font-size: 20px;
            }
            
            .module-loading {
                position: fixed;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 0.5);
                z-index: 999;
                text-align: center;
                padding-top: 25vh;
            }
            
            @media (min-width: 992px) {
                .module-loading {
                    i {
                        font-size: 200px;
                    }
                }
            }
            
            @media (max-width: 991px) {
                .module-loading {
                    i {
                        font-size: 180px;
                    }
                }
            }
            
            .custom-radio-big-size {
                margin-right: 10px;
                .choice {
                    text-align: center;
                    font-size: 2rem;
                    &::before {
                        position: relative;
                        width: 3rem;
                        height: 3rem;
                    }
                    &::after {
                        width: 3rem;
                        height: 3rem;
                    }
                    &.choice-1::after {
                        content: '1';
                    }
                    &.choice-2::after {
                        content: '2';
                    }
                    &.choice-3::after {
                        content: '3';
                    }
                    &.choice-4::after {
                        content: '4';
                    }
                }
            }
            
            .custom-control-input:checked~.custom-control-label {
                font-weight: 500;
            }
            
            .custom-control-input:checked~.custom-control-label::after {
                background-image: unset !important;
            }
            
            .js-scroll-trigger {
                word-wrap: none;
                overflow-wrap: break-word;
            }
            .circleChart{
                color:  #FF9965;
            }
            
            .btn-link.collapsed {
                .fa-chevron-down::before {
                    content: "\f054";
                }
            }