.btn-sm,
.btn-group-sm>.btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.675rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn {
  font-weight: 400;
  font-size: 15px;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #FF8F00;
    border-color: #8b8b8b;
}
