<div class="row py-2">
  <!-- dropdown -->

  <div class="form-group px-1 col-lg-2 col-sm-12">
    <select class="form-control" id="ddl-1" (change)="onFilterChanged()" [(ngModel)]="filterModel.year">
      <option *ngFor="let item of appSetting.year" [value]="item">{{item}}</option>
    </select>
  </div>
  <div class="form-group px-1 col-lg-6 col-sm-12">
    <select class="form-control" id="ddl-1" (change)="onFilterChanged()" [(ngModel)]="filterModel.industry">
      <option *ngFor="let item of appSetting.industry" [value]="item.id">{{item.name}}</option>
    </select>
  </div>
  <div class="form-group px-1 col-lg-4 col-sm-12">
    <select class="form-control" id="ddl-2" (change)="onFilterChanged()" [(ngModel)]="filterModel.country">
      <optgroup label="คู่ค้า">
        <option *ngFor="let item of getCountryByIndustry('คู่ค้า')" [value]="item.countryID">{{item.countryNameThai}}</option>
      </optgroup>
      <optgroup label="คู่แข่ง">
        <option *ngFor="let item of getCountryByIndustry('คู่แข่ง')" [value]="item.countryID">{{item.countryNameThai}}</option>
      </optgroup>
      <optgroup label="อื่นๆ">
        <option *ngFor="let item of getCountryByIndustry('อื่นๆ')" [value]="item.countryID">{{item.countryNameThai}}</option>
      </optgroup>
    </select>
  </div>
  <div class="mt-1">
    <i class="fa fa-spinner fa-spin fa-2x" *ngIf="loading"></i>
  </div>
  <!-- dropdown -->
</div>
<div class="row">
  <div *ngIf="!radarChartStep">
    <a (click)="SwitchChart('radar')">
      <img src="assets/img/radar.png" alt="" width="50">
    </a>
  </div>
  <div *ngIf="radarChartStep">
    <a (click)="SwitchChart('bar')">
      <img src="assets/img/bar.png" alt="" width="50">
    </a>
  </div>
</div>
<div #focusdv class="table-overflow radar-chart {{!radarChartStep?'d-none':''}}">
  <div class="d-block"  style="min-width:700px">
    <canvas  #radarChart=base-chart baseChart [datasets]="radarChartData" [labels]="radarChartLabels" [options]="radarChartoptions" [chartType]="'radar'"
    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"
      [colors]="radarChartColors"></canvas>
      <br>
  </div>
</div>
<div class="table-overflow {{radarChartStep?'d-none':''}}">
  <div class="d-block">
    <canvas baseChart [datasets]="radarChartData" [labels]="barChartLabels" [options]="barChartOptions" [chartType]="'bar'" [colors]="barChartColors"></canvas>
  </div>
</div>
<div class="py-3">
  <div class="row pillar-link">
    <div class="col-sm-4 col-6 text-left" *ngFor="let pillar of appSetting.pillar">
      <button type="button" class="btn btn-link btn-sm mx-1 my-1 text-info" (click)="pillarClick(pillar.id)">{{pillar.name}}</button>
    </div>
  </div>
</div>