<section id="admin-dashboard">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mt-4">
        <div class="card box-shadow">
          <div class="text-center">
            <a routerLink="/admin/user">
              <i class="fa fa-user-circle fa-5x mt-3" aria-hidden="true"></i>
            </a>
          </div>
          <div class="card-body">
            <strong class="d-block text-gray-dark ">กำหนดสิทธิการใช้งาน (Frontend)</strong>
            <p class="card-text card-text-fontsub">การกำหนดกลุ่มผู้ใช้และสิทธิการใช้งาน</p>

          </div>
          <div class="card-footer">
            <div class="btn-group">
              <a routerLink="/admin/user" role="button" class="btn btn-sm btn-outline-secondary">
                Manage
              </a>
            </div>
            <small class="text-muted"></small>
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-4">
        <div class="card box-shadow">
          <div class="text-center">
            <a routerLink="/admin/industry-review">
              <i class="fa fa-bar-chart fa-5x mt-3" aria-hidden="true"></i>
            </a>
          </div>
          <div class="card-body">
            <strong class="d-block text-gray-dark ">การกำหนดข้อมูลประกอบดัชนีอุตสาหกรรม (Frontend)</strong>
            <p class="card-text card-text-fontsub">วิธีการอ่านข้อมูลแนวทางการจัดทำดัชนีอุตสาหกรรม</p>

          </div>
          <div class="card-footer">
            <div class="btn-group">
              <a routerLink="/admin/industry-review" role="button" class="btn btn-sm btn-outline-secondary">
                Manage
              </a>
            </div>
            <small class="text-muted"></small>
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-4">
        <div class="card box-shadow">
          <div class="text-center">
            <a routerLink="/admin/document">
              <i class="fa fa-file-text fa-5x mt-3" aria-hidden="true"></i>
            </a>
          </div>
          <div class="card-body">
            <strong class="d-block text-gray-dark ">การกำหนดข้อมูลรายงาน (Frontend)</strong>
            <p class="card-text card-text-fontsub"> รายงานความสามารถในการแข่งขันด้านเศรษฐกิจอุตสาหกรรม</p>
          </div>
          <div class="card-footer">
            <div class="btn-group">
              <a routerLink="/admin/document" role="button" class="btn btn-sm btn-outline-secondary">
                Manage
              </a>
            </div>
            <small class="text-muted"></small>
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-4">
        <div class="card box-shadow">
          <div class="text-center">
            <a routerLink="/admin/industry-indicator">
              <i class="fa fa-calculator fa-5x mt-3 " aria-hidden="true"></i>
            </a>
          </div>
          <div class="card-body">
            <strong class="d-block text-gray-dark ">การคำนวณค่าดัชนีและตัวชี้วัด (Database)</strong>
            <p class="card-text card-text-fontsub"> การคำนวณ ค่าถ่วงน้ำหนัก ค่าดัชนีและตัวชี้วัดของอุตสาหกรรมศักยภาพ</p>
          </div>
          <div class="card-footer">
            <div class="btn-group">
              <a routerLink="/admin/industry-indicator" role="button" class="btn btn-sm btn-outline-secondary">
                Manage
              </a>
            </div>
            <small class="text-muted"></small>
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-4">
        <div class="card box-shadow">
          <div class="text-center">
            <a routerLink="/admin/export">
              <i class="fa fa-database fa-5x mt-3 " aria-hidden="true"></i>
            </a>
          </div>
          <div class="card-body">
            <strong class="d-block text-gray-dark ">ข้อมูลจากฐานข้อมูลระบบ (Database)</strong>
            <p class="card-text card-text-fontsub">การ Export ข้อมูล ปฐมภูมิ ทุติยภูมิ ดัชนีผู้จัดการฝ่ายจัดซื้อ ค่าถ่วงน้ำหนัก ค่าดัชนี ค่าดัชนีและตัวชี้วัดของอุตสหกรรมศักยภาพ</p>
          </div>
          <div class="card-footer">
            <div class="btn-group">
              <a routerLink="/admin/export" role="button" class="btn btn-sm btn-outline-secondary">
                Manage
              </a>
            </div>
            <small class="text-muted"></small>
          </div>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>
</section>