/* You can add global styles to this file, and also import other style files

.header-container {
  border-bottom: 0.5px solid #d5e0e8;
}

.container-content {
  margin: 0px auto;
  background: #ffffff;
  padding: 0px 25px 40px 35px;
}

.row-line {
  border-top: 0.5px solid #cccccc;
  border-bottom: 0.5px solid #cccccc;
}

.row-line-bottom {
  border-bottom: 0.5px solid #cccccc;
}

.table-bg-blue {
  background: #7030a0;
}

.table-bg-blue-lv-1 {
  background: #b1a0c7;
}

.table-bg-blue-lv-2 {
  background: #e4dfec;
}

.table-bg-green {
  background: #215967;
}

.table-bg-green-lv-1 {
  background: #dbeef4;
}

.table-bg-green-lv-2 {
  background: #d9f2e5;
}

.table-bg-red {
  background: #e26b0a;
}

.table-bg-red-lv-1 {
  background: #fcd5b4;
}

.table-bg-red-lv-2 {
  background: #fcd5b4;
}

.head {
  background: #006cbb;
}

#advanced-features .features-row {
  padding: 60px 0 30px 0;
}

.section-bg {
  background: #eff5f5;
}

.bg-alert {
  background: #e6f3ff;
}

a {
  color: inherit;
}

.text-light {
  color: #f8f9fa !important;
} */
