<app-industry-indicators (onFilterChange)="onFilterChanged($event)" (onPillarChange)="onPillarChanged($event)" [is_dashboard]="true"></app-industry-indicators>
<section class="" id="about">
    <div class="container">
        <div class="row row-head py-2 font-weight-bold">
            <div class="col">ระดับข้อมูล</div>
            <div class="col-score text-center">
                Thailand </div>
            <div class="col-score text-center"> {{CompareCountry}} </div>
            <div class="col-arrow"></div>
        </div>
        <div class="row row-index py-2 font-weight-bold">
            <div class="col">{{items.title}}</div>
            <div class="col-score text-center">
                {{items.value1}} </div>
            <div class="col-score text-center"> {{items.value2}} </div>
            <div class="col-arrow"></div>
        </div>
        <ng-container *ngFor="let level1 of items.subIndexItems">
            <div [ngClass]="'row-'+level1.groupType">
                <div class="row py-2 sub-index">
                    <div class="col">
                        {{level1.title}}
                    </div>
                    <div class="col-score text-center">
                        {{level1.value1}}
                    </div>
                    <div class="col-score text-center">
                        {{level1.value2}}
                    </div>
                    <div class="col-arrow">
                    </div>
                </div>
                <ng-container *ngFor="let level2 of level1.pillarItems">
                    <div class="row py-2 pillar">
                        <div class="col">
                            {{level2.title}}
                        </div>
                        <div class="col-score text-center">
                            {{level2.value1}}
                        </div>
                        <div class="col-score text-center">
                            {{level2.value2}}
                        </div>
                        <div class="col-arrow">
                            <button class="btn btn-link" [ngClass]="{'collapsed': !level2.show}" type="button" data-toggle="collapse" [attr.data-target]="'#pillar' + level2.groupid">
                                <i class="fa fa-chevron-down"></i>
                            </button>
                        </div>
                    </div>
                    <div [attr.id]="'pillar'+level2.groupid" class="row collapse" [ngClass]="{'show': level2.show}">
                        <div class="col">
                            <ng-container *ngFor="let level3 of level2.groupOfIndicatorItems">
                                <div class="row py-2 group-of-indicator">
                                    <div class="col">
                                        {{level3.title}}
                                    </div>
                                    <div class="col-score text-center">
                                        {{level3.value1}}
                                    </div>
                                    <div class="col-score text-center">
                                        {{level3.value2}}
                                    </div>
                                    <div class="col-arrow">
                                        <button class="btn btn-link" [ngClass]="{'collapsed': !level2.show}" type="button" data-toggle="collapse" [attr.data-target]="'#goi' + level3.groupid">
                                            <i class="fa fa-chevron-down"></i>
                                        </button>
                                    </div>
                                </div>
                                <div [attr.id]="'goi'+level3.groupid" class="row collapse" [ngClass]="{'show': level2.show}">
                                    <div class="col">
                                        <ng-container *ngFor="let level4 of level3.indicatorItems">
                                            <div class="row py-2 indicator">
                                                <div class="col">
                                                    {{level4.title}}
                                                </div>
                                                <div class="col-score text-center">
                                                    {{level4.value1}}
                                                </div>
                                                <div class="col-score text-center">
                                                    {{level4.value2}}
                                                </div>
                                                <div class="col-arrow">
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </div>
</section>
<div class="container mb-5">
    <div class="row">
        <div class="col-md-6">
            <select id="ddlPillar" class="form-control" [(ngModel)]="pillarNo" (change)="changePillar(pillarNo)">
                <option value="5">Business Environment & Strategy</option>
                <option value="6">Factor of Production</option>
                <option value="7">Technology & Innovation</option>
                <option value="8">Production</option>
                <option value="9">Sustainability</option>
                <option value="10">Management</option>
                <option value="11">Products & Markets</option>
                <option value="12">Performance</option>
                <option value="13">Future Prospect</option>
            </select>
        </div>
    </div>
    <div class="row row-head  py-2 font-weight-bold mt-2">
        <div class="col"></div>
        <div class="col-score text-center">
        </div>
        <div class="col-score text-center"> Score </div>
        <div class="col-arrow"></div>
    </div>
    <ng-container *ngFor="let level1 of pillarByIndustry">
        <div class="row py-2 group-of-industry">
            <div class="col">
                {{level1.title}}
            </div>
            <div class="col-score text-center">
            </div>
            <div class="col-score text-center">
                {{level1.value2}}
            </div>
            <div class="col-arrow">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#docind' + level1.groupid">
                    <i class="fa fa-chevron-down"></i>
                </button>
            </div>
        </div>
        <div [attr.id]="'docind'+level1.groupid" class="row collapse group-of-industry">
            <div class="col">
                <ng-container *ngFor="let level2 of level1.groupOfCountryItems">
                    <div class="row py-2 group-of-industry-item">
                        <div class="col">
                            {{level2.title}}
                        </div>
                        <div class="col-score text-center">
                        </div>
                        <div class="col-score text-center">
                        </div>
                        <div class="col-arrow">
                        </div>
                    </div>
                    <ng-container *ngFor="let level3 of level2.countryIndicatorItems">
                        <div class="row py-2 group-of-industry-item-sub">
                            <div class="col">
                                - {{level3.title}}
                            </div>
                            <div class="col-score text-center">
                            </div>
                            <div class="col-score text-center">
                                {{level3.value2}}
                            </div>
                            <div class="col-arrow">
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </ng-container>
</div>