﻿<div class="row">
  <div class="col">
    <div class="row"  *ngIf="lableChart!=''"  >
      <div class="col-12  ml-3">
          <i class="fa fa-circle circleChart mr-1"  aria-hidden="true"></i> {{lableChart}}
      </div>
    </div>
    <canvas baseChart [data]="lineChartData" [labels]="lineChartLabels" [chartType]="'line'" [colors]="lineChartColors" [legend]="false"
      [options]="lineChartOptions"></canvas>
  </div>
</div>