﻿<section id="industry-review">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">การกำหนดข้อมูลรายงาน (Frontend)</h2>
            </div>
        </div>
        <div class="row">
            <div class="offset-lg-3 col-lg-6">
                <form>
                    <div class="card mb-3">
                        <div class="card-body">

                            <div class="form-group">
                                <label for="ParentDocument">หัวข้อเอกสาร</label>
                                <select class="form-control" name="ParentDocument" id="ParentDocument" [(ngModel)]="model.parentId">
                                <option value="0">- - - หัวข้อเอกสาร - - -</option>
                                <option *ngFor="let document of documentList" [value]="document.id"><span [innerHTML]="document.documentName"></span></option>
                              </select>
                            </div>

                            <div class="form-group">
                                <label for="DocumentName">ชื่อเอกสาร</label>
                                <input type="text" class="form-control" name="DocumentName" id="DocumentName" [(ngModel)]="model.documentName" />
                            </div>

                            <div class="form-group">
                                <label for="document">ไฟล์เอกสาร </label>
                                <a (click)="remove()" class="removeFile" *ngIf="model.documentFile != ''"> (Click For Remove)</a>
                                <label *ngIf="uploading"> (Uploading...)</label>
                                <div class="custom-file mb-1">
                                    <input type="file" id="document" class="custom-file-input" name="document" accept="*" #fileInputDocument (change)="uploadFile('document')">
                                    <label class="custom-file-label" for="document">{{uploadService.getFilename(model.documentFile)}}</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="image">รูปภาพประกอบเอกสาร </label>
                                <a (click)="remove()" class="removeFile" *ngIf="model.imageFile != ''"> (Click For Remove)</a>
                                <label *ngIf="uploading"> (Uploading...)</label>
                                <div class="custom-file mb-1">
                                    <input type="file" id="image" class="custom-file-input" name="image" accept="image/*" #fileInput (change)="uploadFile('image')">
                                    <label class="custom-file-label" for="image">{{uploadService.getFilename(model.imageFile)}}</label>
                                </div>

                                <img class="img-fluid img-preview" src="{{global.getFullMediaUrl(model.imageFile)}}">
                            </div>

                            <div class="form-group mx-1">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" [(ngModel)]="model.showHomePage" id="showHomePage" name="showHomePage">
                                    <label for="showHomePage" class="mb-0 custom-control-label">แสดงที่หน้าแรก</label>
                                </div>
                            </div>

                        </div>

                        <div class="card-footer">
                            <a class="pull-right mx-1" routerLink="/admin/document">
                                <button type="button" class="btn btn-light">
                  <i class="fa fa-times-circle mr-1"></i>ย้อนกลับ</button>
                            </a>
                            <button type="button" class="btn btn-success pull-right mx-1" (click)="submit()" type="submit">
                <i class="fa fa-floppy-o mr-1"></i>บันทึกข้อมูล</button>
                            <button type="button" class="btn btn-light pull-right" *ngIf="saving" [disabled]="saving">
                <i class="fa fa-spinner fa-lg fa-spin"></i>กำลังบันทึกข้อมูล...</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>