﻿<section id="industry-review">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">การกำหนดข้อมูลรายงาน (Frontend)</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">


                <div class="card">
                    <div class="card-header">
                        <a class="pull-right" routerLink="/admin/document/create">
                            <button type="button" class="btn btn-outline-success">
                <i class="fa fa-plus-circle mr-1"></i>เพิ่ม
              </button>
                        </a>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover mt-2">
                            <thead>
                                <tr>
                                    <th>Document Name</th>
                                    <th>Document File</th>
                                    <th>Image File</th>
                                    <th>Parent Document Name</th>
                                    <th class="text-center">แก้ไข</th>
                                    <th class="text-center">ลบ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of model" class=document-{{item.level}}>
                                    <td [innerHTML]="item.documentName"></td>
                                    <td>
                                        <a class="list-document" href="{{global.getFullMediaUrl(item.documentFile)}}" target="_blank" *ngIf="item.documentFile != ''">Document File</a>
                                    </td>
                                    <td>
                                        <img class="list-image" src="{{global.getFullMediaUrl(item.imageFile)}}" *ngIf="item.documentFile != ''">
                                    </td>
                                    <td>{{item.parentDocumentName}}</td>
                                    <td class="text-center text-white">
                                        <a class="btn btn-info" routerLink="/admin/document/{{item.id}}">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                    <td class="text-center text-white">
                                        <a class="btn btn-danger" (click)="delete(item.id)">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <ng-container *ngIf="loading">
                                <tfoot>
                                    <tr>
                                        <td colspan="6" class="text-center">
                                            <i class="fa fa-spinner fa-lg fa-spin"></i>
                                        </td>
                                    </tr>
                                </tfoot>
                            </ng-container>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>