<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" [routerLink]="['/home']" routerLinkActive="router-link-active">
      <img src="../../../assets/img/logo.png" alt="">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" [routerLink]="['/home']" routerLinkActive="active">หน้าแรก</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="isOIEOfficer || isAdmin">
          <a class="nav-link js-scroll-trigger" [routerLink]="['/survey']" routerLinkActive="active">แบบสอบถาม</a>
        </li>
        <li class="nav-item" *ngIf="isOIEOfficer || isRegisteredUser || isAdmin">
          <a class="nav-link js-scroll-trigger" [routerLink]="['/self-assessment']" routerLinkActive="active">แบบประเมิน</a>
        </li>
        <li class="nav-item" *ngIf="isOIEOfficer || isAdmin">
          <a class="nav-link js-scroll-trigger" [routerLink]="['/pmi']" routerLinkActive="active">PMI</a>
        </li>
        <li class="nav-item" *ngIf="!signedIn">
          <a class="nav-link js-scroll-trigger" [routerLink]="['/account/signup']" routerLinkActive="active">ลงทะเบียน</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" [routerLink]="['/download']" routerLinkActive="active">ดาวน์โหลด</a>
        </li>
        <!-- <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link js-scroll-trigger"  [routerLink]="['/admin/export']" routerLinkActive="active" >Export</a>
        </li> -->
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link js-scroll-trigger" [routerLink]="['/admin']" routerLinkActive="active">Admin</a>
        </li>
        <li class="nav-item" *ngIf="signedIn">
          <div class="dropdown user">
            <i class="fa fa-user-circle-o fa-3x" aria-hidden="true" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"></i>
            <div class="d-inline-block nav-link js-scroll-trigger d-lg-none">{{user.username}}</div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <span class="dropdown-item">{{user.username}}</span>
              <a class="dropdown-item" (click)="signout()">ออกจากระบบ</a>
            </div>
          </div>
        </li>
        <li class="nav-item d-block d-lg-none" *ngIf="isAdmin">
          <a class="nav-link js-scroll-trigger" (click)="signout()">ออกจากระบบ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>