﻿<section id="signup" name="signup">
    <div class="container">
            <div class="form-group row">
                <label for="firstName" class="col-sm-2 col-form-label">FirstName</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="FirstName" value="" [(ngModel)]="model.firstname">
                </div>
            </div>
            <div class="form-group row">
                <label for="lastName" class="col-sm-2 col-form-label">LastName</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="LastName" value="" [(ngModel)]="model.lastname">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-sm-2 col-form-label">UserName</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="username" name="username" placeholder="UserName" value="" [(ngModel)]="model.username">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Password" [(ngModel)]="model.password">
                </div>
            </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-3">
                <button class="btn btn-primary" type="submit" (click)="signup()">ลงทะเบียน</button>
            </div>
        </div>
    </div>
</section>