﻿<div class="module-loading" *ngIf="loading">
    <i class="fa fa-spinner fa-spin"></i>
</div>
<ng2-slim-loading-bar></ng2-slim-loading-bar>
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>