<section id="services" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">ดัชนีวัดความสามารถในการแข่งขันของอุตสาหกรรม</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-8">
        <radar-indicator-chart (onFilterChange)="onFilterChanged($event)" (onPillarChange)="onPillarChanged($event)" [is_dashboard]="isDashobard"></radar-indicator-chart>
      </div>
      <div class="col-lg-4">
        <div class="card d-flex flex-row justify-content-start row-hl text-left">
          <div class="card-body" [innerHTML]="review_information">
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-md-6">
        <strengths-chart [refresh]="refreshDate"></strengths-chart>
      </div>
      <div class="col-md-6">
        <weaknesses-chart [refresh]="refreshDate"></weaknesses-chart>
      </div>
    </div>
  </div>
</section>

<section id="line-chart">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Transformation Index</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <line-chart [chart-no]="1" [refresh]="refreshDate"></line-chart>
      </div>
      <div class="col-md-6">
        <line-chart [chart-no]="2" [refresh]="refreshDate"></line-chart>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-md-6">
        <line-chart [chart-no]="3" [refresh]="refreshDate"></line-chart>
      </div>
      <div class="col-md-6">
        <line-chart [chart-no]="4" [refresh]="refreshDate"></line-chart>
      </div>
    </div>
  </div>
</section>