{{isAdministrator}}

<nav class="col-sm-3 col-md-2 d-none d-sm-block sidebar">
	<ul class="nav nav-pills flex-column">
		<li class="nav-item">
			<a class="nav-link" [routerLinkActive]="['active']" routerLink="/admin/carousel">
				<i class="fa fa-columns"></i>Banner</a>
		</li>
		<li class="nav-item" *ngIf="isAdministrator">
			<a class="nav-link" [routerLinkActive]="['active']" routerLink="/admin/carousel-mini">
				<i class="fa fa-columns"></i>Mini Banner</a>
		</li>
		<li class="nav-item" *ngIf="isAdministrator">
			<a class="nav-link" [routerLinkActive]="['active']" routerLink="/admin/category">
				<i class="fa fa-list" aria-hidden="true"></i>Category</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLinkActive]="['active']" routerLink="/admin/content">
				<i class="fa fa-pencil-square-o" aria-hidden="true"></i>Content</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLinkActive]="['active']" routerLink="/admin/content_pin">
				<i class="fa fa-map-pin" aria-hidden="true"></i>Content Pin ( Sort )</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLinkActive]="['active']" routerLink="/admin/faq">
				<i class="fa fa-question-circle-o" aria-hidden="true"></i>FAQ</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLinkActive]="['active']" routerLink="/admin/seminar">
				<i class="fa fa-calendar" aria-hidden="true"></i>Seminar</a>
		</li>
	</ul>

	<ul class="nav nav-pills flex-column" *ngIf="isAdministrator">
		<li class="nav-item">
			<a class="nav-link" [routerLinkActive]="['active']" routerLink="/admin/user">
				<i class="fa fa-user-o" aria-hidden="true"></i>User</a>
		</li>
	</ul>

</nav>