﻿<section id="industry-review">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">ดัชนีวัดความสามารถในการแข่งขันของอุตสาหกรรม</h2>
            </div>
        </div>
        <div class="row">
            <div class="offset-lg-3 col-lg-6">
                <form>
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Year">ปี</label>
                                <select class="form-control" name="Year" id="Year" [(ngModel)]="model.year">
                  <option value="0">- - - กรุณาเลือก - - -</option>
                  <option *ngFor="let year of getYear()" [value]="year">{{year}}</option>
                </select>
                            </div>

                            <div class="form-group">
                                <label for="Industry">ประเภทอุตสาหกรรม</label>
                                <select class="form-control" name="Industry" id="Industry" [(ngModel)]="model.industryId">
                  <option value="0">- - - กรุณาเลือก - - -</option>
                  <option *ngFor="let industry of getIndustry()" [value]="industry.id">{{industry.name}} ({{industry.nameThai}})</option>
                </select>
                            </div>

                            <div class="form-group">
                                <label for="Country">ประเทศ</label>
                                <select class="form-control" name="Country" id="Country" [(ngModel)]="model.countryId">
                  <option value="0">- - - กรุณาเลือก - - -</option>
                  <option *ngFor="let country of getCountryByIndustry()" [value]="country.countryID">{{country.countryName}} ({{country.countryNameThai}})</option>
                </select>
                            </div>

                            <div class="form-group">
                                <label for="Information">รายละเอียด</label>
                                <summernote name="content" [options]="global.summernote_options" [(ngModel)]="model.htmlInformation"></summernote>

                            </div>
                        </div>

                        <div class="card-footer">
                            <a class="pull-right mx-1" routerLink="/admin/industry-review">
                                <button type="button" class="btn btn-light">
                  <i class="fa fa-times-circle mr-1"></i>ย้อนกลับ</button>
                            </a>
                            <button type="button" class="btn btn-success pull-right mx-1" (click)="submit()" type="submit">
                <i class="fa fa-floppy-o mr-1"></i>บันทึกข้อมูล</button>
                            <button type="button" class="btn btn-light pull-right" *ngIf="saving" [disabled]="saving">
                <i class="fa fa-spinner fa-lg fa-spin"></i>กำลังบันทึกข้อมูล...</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>