﻿<section id="industry-review">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">การกำหนดข้อมูลประกอบดัชนีอุตสาหกรรม (Frontend)</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">


                <div class="card">
                    <div class="card-header">
                        <a class="pull-right" routerLink="/admin/industry-review/create">
                            <button type="button" class="btn btn-outline-success">
                <i class="fa fa-plus-circle mr-1"></i>เพิ่ม
              </button>
                        </a>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-bordered table-hover mt-2">
                            <thead>
                                <tr>
                                    <th>Year</th>
                                    <th>Industry</th>
                                    <th>Industry Thai</th>
                                    <th>Country</th>
                                    <th>Country Thai</th>
                                    <th class="text-center">แก้ไข</th>
                                    <th class="text-center">ลบ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of model">
                                    <td>{{item.year}}</td>
                                    <td>{{item.industryName}}</td>
                                    <td>{{item.industryNameThai}}</td>
                                    <td>{{item.countryName}}</td>
                                    <td>{{item.countryNameThai}}</td>
                                    <td class="text-center text-white">
                                        <a class="btn btn-info" routerLink="/admin/industry-review/{{item.id}}">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                    <td class="text-center text-white">
                                        <a class="btn btn-danger" (click)="delete(item.id)">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <ng-container *ngIf="loading">
                                <tfoot>
                                    <tr>
                                        <td colspan="7" class="text-center">
                                            <i class="fa fa-spinner fa-lg fa-spin"></i>
                                        </td>
                                    </tr>
                                </tfoot>
                            </ng-container>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>