<div class="row">
  <div class="col">
    <h4>Most problematic factors from Survey</h4>
  </div>
</div>
<div class="row">
  <div class="col">
    <div style="display: block">
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
        [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)" [colors]="barChartColors"></canvas>
    </div>
  </div>
</div>