<!-- start section navbar -->
<nav id="main-nav">
  <div class="row">
    <div class="container">

      <div class="logo">
        <a [routerLink]="['/home']" routerLinkActive="router-link-active">
          <img src="assets/images/logo-nevelop.png" alt="logo">
        </a>
      </div>

      <div class="responsive">
        <i data-icon="m" class="ion-navicon-round"></i>
      </div>

      <ul class="nav-menu list-unstyled">
        <li>
          <a href="#header" class="smoothScroll">Home</a>
        </li>
        <li>
          <a href="#about" class="smoothScroll">About</a>
        </li>
        <li>
          <a href="#portfolio" class="smoothScroll">Portfolio</a>
        </li>
        <li>
          <a href="#journal" class="smoothScroll">Blog</a>
        </li>
        <li>
          <a href="#contact" class="smoothScroll">Contact</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
<!-- End section navbar -->

<!-- start section header -->
<div id="header" class="home">

  <div class="container">
    <div class="header-content">
      <h1>I'm
        <span class="typed"></span>
      </h1>
      <p>{{type}}</p>

      <ul class="list-unstyled list-social">
        <li>
          <a href="https://web.facebook.com/niponjaiboon" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="http://nevelop.blogspot.com/" target="_blank">
            <i class="fa fa-rss-square" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://gitlab.com/Jaiboon" target="_blank">
            <i class="fa fa-gitlab" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://plus.google.com/102396215338958377433" target="_blank">
            <i class="fa fa-google" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- End section header -->
