<section id="about">
    <div class="container">
        <div class="row" *ngIf="!editing">
            <div class="col-lg-12 home-about" [innerHTML]="(page.html | safeHtml)">
            </div>
        </div>

        <div class="row" *ngIf="editing">
            <div class="col-12">
                <summernote name="content" [options]="globals.summernote_options" [(ngModel)]="page.html"></summernote>
            </div>
        </div>
        <div class="row" *ngIf="editing">
            <div class="col-12 text-center mt-3">
                <button class="btn btn-primary" type="button" (click)="saveContent()">บันทึก</button>
                <button class="btn btn-default ml-2" type="button" (click)="editing = false">ยกเลิก</button>
            </div>
        </div>
        <ng-container *ngIf="isAdmin">
            <div class="row" *ngIf="!editing">
                <div class="col-12 text-center mt-3">
                    <button class="btn btn-primary" type="button" (click)="editing = true">แก้ไข</button>
                </div>
            </div>
        </ng-container>
    </div>
</section>