<div class="row">
  <div class="col-lg-12 text-center">
    <img class="img-fluid mb-5" src="assets/img/homeabout.jpg" alt="">
    <h2 class="section-heading text-uppercase">ความเป็นมา</h2>
    <span class="">
      ดัชนีวัดความสามารถในการแข่งขันของอุตสาหกรรมในภาพรวมและอุตสาหกรรมเป้าหมายจะสร้างจากดัชนีด้าน Inputs Process</span></div>
</div>