﻿<section id="signin">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="form-login hidden-md-down" *ngIf="!isSignedIn">
					<form name="form" #f="ngForm" (ngSubmit)="f.form.valid && signin()" novalidate class="py-0">
						<div class="form-inline col-lg-12 mt-4 mb-4">
							<div class="col-md mb-3 mb-lg-0 text-md-right text-center">
								<span for="username">เข้าสู่ระบบ</span>
							</div>
							<div class="col-md mb-3 mb-lg-0 pl-lg-0 text-md-left text-center">
								<input type="text" id="username" name="username" class="form-control" placeholder="Username" [(ngModel)]="model.username"
								 #username="ngModel" required>
							</div>
							<div class="col-md mb-3 mb-lg-0 pl-lg-0 text-md-left text-center">
								<input type="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="model.password" #password="ngModel"
								 required>
							</div>
							<div class="col-lg-3 mb-3 mb-lg-0 pl-lg-0 text-lg-left text-center">
								<input type="submit" name="" class="btn btn-primary form-control" value="เข้าสู่ระบบ" [disabled]="!model.username || !model.password"
								 *ngIf="!signingin">
								<i class="fa fa-spinner fa-spin" style="font-size:24px" *ngIf="signingin"></i>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>