<section id="document">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">แบบประเมินสถานการณ์ขีดความสามารถในการแข่งขัน
          <br>สำหรับผู้ประกอบการ</h2>
      </div>
    </div>
    <!-- Step 1 -->
    <div class="row" *ngIf="!isPreviewReport">
      <div class="col-12">

        <div class="row">
          <div class="col-12">
            <div>
              <div class="row">
                <div class="alert alert-warning col-12" role="alert">
                  แบบสอบถามนี้ประกอบด้วย 3 ส่วนดังต่อไปนี้
                  <br>ส่วนที่ 1 ข้อมูลทั่วไปผู้ตอบแบบสอบถาม
                  <br>ส่วนที่ 2 แบบประเมินภาพรวมสถานการณ์ขีดความสามารถในการแข่งขันสำหรับผู้ประกอบการ
                  <br>ส่วนที่ 3 ปัญหาและข้อเสนอแนะ
                </div>
              </div>
              <div class="row">
                <div class="alert alert-info col-12" role="alert">
                  <strong>ส่วนที่ 1: </strong> ข้อมูลทั่วไป
                </div>
              </div>
              <div class="row">
                <div class="col-lg-2 col-12">
                  1.ชื่อบริษัท:
                </div>
              </div>
              <div class="row">
                <div class="col-lg-2 col-12">

                </div>
                <div class="form-group col-lg-5 col-12">
                  <label for="companyTH">(ภาษาไทย)
                  </label>
                  <input type="text" class="form-control" id="companyTH" placeholder="ชื่อบริษัทภาษาไทย" [(ngModel)]="model.company.companyNameTh">
                </div>
                <div class="form-group col-lg-5 col-12">
                  <label for="companyEN">(ภาษาอังกฤษ)
                  </label>
                  <input type="text" class="form-control" id="companyEN" placeholder="ชื่อบริษัทภาษาอังกฤษ" [(ngModel)]="model.company.companyName">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-2 col-12"></div>
                <div class="form-group col-lg-10 col-12">
                  <label for="companyNo">เลขทะเบียนนิติบุคคล :</label>
                  <input type="text" class="form-control" id="companyNo" placeholder="เลขทะเบียนนิติบุคคล" [(ngModel)]="model.company.companyCard">
                </div>
              </div>
              <!-- ข้อ 2 -->
              <div class="row mt-3">
                <div class="col-lg-2 col-12 ">
                  2. ที่อยู่สำนักงานใหญ่:
                </div>
              </div>
              <div class="row">
                <div class="col-lg-2 col-12">

                </div>
                <div class="form-group col-lg-4 col-12">
                  <label for="AddressNo">เลขที่:</label>
                  <input type="text" class="form-control" id="AddressNo" [(ngModel)]="model.company.addressNo">
                </div>
                <div class="form-group col-lg-3 col-12">
                  <label for="AddressBuilding">อาคาร:</label>
                  <input type="text" class="form-control" id="AddressBuilding" [(ngModel)]="model.company.building">
                </div>
                <div class="form-group col-lg-3 col-12">
                  <label for="AddressFloor">ชั้น:</label>
                  <input type="text" class="form-control" id="AddressFloor" [(ngModel)]="model.company.floor">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-2 col-12">
                </div>
                <div class="form-group col-lg-4 col-12">
                  <label for="AddressSoi">ซอย:</label>
                  <input type="text" class="form-control" id="AddressSoi" [(ngModel)]="model.company.soi">
                </div>
                <div class="form-group col-lg-3 col-12">
                  <label for="AddressStreet">ถนน:</label>
                  <input type="text" class="form-control" id="AddressStreet" [(ngModel)]="model.company.street">
                </div>
                <div class="form-group col-lg-3 col-12">
                  <label for="AddressTumbon">ตำบล:</label>
                  <input type="text" class="form-control" id="AddressTumbon" [(ngModel)]="model.company.tumbon">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-2 col-12">
                </div>
                <div class="form-group col-lg-4 col-12">
                  <label for="AddressAmphur">อำเภอ:</label>
                  <input type="text" class="form-control" id="AddressAmphur" [(ngModel)]="model.company.amphur">
                </div>
                <div class="form-group col-lg-3 col-12">
                  <label for="AddressProvince">จังหวัด:</label>
                  <input type="text" class="form-control" id="AddressProvince" [(ngModel)]="model.company.province">
                </div>
                <div class="form-group col-lg-3 col-12">
                  <label for="AddressPostCode">รหัสไปรษณีย์:</label>
                  <input type="text" class="form-control" id="AddressPostCode" [(ngModel)]="model.company.postCode">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-2 col-12">
                </div>
                <div class="form-group col-lg-4 col-12">
                  <label for="AddressPhone">โทรศัพท์:</label>
                  <input type="text" class="form-control" id="AddressPhone" [(ngModel)]="model.company.phone">
                </div>
                <div class="form-group col-lg-3 col-12">
                  <label for="AddressFax">โทรสาร:</label>
                  <input type="text" class="form-control" id="AddressFax" [(ngModel)]="model.company.fax">
                </div>
                <div class="form-group col-lg-3 col-12">
                  <label for="AddressWebsite">เว็บไซต์:</label>
                  <input type="text" class="form-control" id="AddressWebsite" [(ngModel)]="model.company.website">
                </div>
              </div>
              <!-- ข้อ 3 -->
              <div class="row mt-3">
                <div class="col-lg-2 col-12 ">
                  3. ผู้ตอบแบบสอบถาม:
                </div>
              </div>
              <div class="row">
                <div class="col-lg-2 col-12">

                </div>
                <div class="form-group col-lg-5 col-12">
                  <label for="txtContactName">ชื่อ:</label>
                  <input type="text" class="form-control" id="txtContactName" placeholder="ชื่อผู้ตอบแบบสอบถาม" [(ngModel)]="model.company.contactName">
                </div>
                <div class="form-group col-lg-5 col-12">
                  <label for="txtContactSurname">นามสกุล :</label>
                  <input type="text" class="form-control" id="txtContactSurname" placeholder="นามสกุลผู้ตอบแบบสอบถาม" [(ngModel)]="model.company.contactSurname">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-2 col-12"></div>
                <div class="form-group col-lg-4 col-12">
                  <label for="txtContactPosition">ตำแหน่ง :</label>
                  <input type="text" class="form-control" id="txtContactPosition" [(ngModel)]="model.company.contactPosition">
                </div>
                <div class="form-group col-lg-3 col-12">
                  <label for="txtContactNo">โทรศัพท์ :</label>
                  <input type="text" class="form-control" id="txtContactNo" [(ngModel)]="model.company.contactNo">
                </div>
                <div class="form-group col-lg-3 col-12">
                  <label for="txtContactEmail">อีเมล์ :</label>
                  <input type="text" class="form-control" id="txtContactEmail" [(ngModel)]="model.company.contactEmail">
                </div>
              </div>
              <!-- ข้อ 4  -->
              <div class="row mt-3">
                <div class="form-group col-lg-6 col-12 ">
                  <label for="txtMainProduct">4. บริษัทของท่านมีผลิตภัณฑ์หรือบริการหลัก
                    <span class="nobr">(มูลค่ามากที่สุด)</span>
                  </label>
                  <input type="text" class="form-control" id="txtMainProduct" placeholder="มูลค่ามากที่สุด" [(ngModel)]="model.company.mainProduct">
                </div>
                <div class="form-group col-lg-6 col-12">
                  <label for="txtOtherProduct">และมีผลิตภัณฑ์หรือบริการรอง
                    <span class="nobr">(มีได้มากกว่า 1 อย่าง)</span>
                  </label>
                  <input type="text" class="form-control" id="txtOtherProduct" placeholder="มีได้มากกว่า 1 อย่าง" [(ngModel)]="model.company.otherProduct">
                </div>
              </div>
              <!-- ข้อ 5  -->
              <div class="row mt-3">
                <div class="col-lg-3 col-12 ">
                  5. สัดส่วนของสัญชาติหุ้นส่วนในบริษัท
                </div>
                <div class="form-group col-lg-3 col-12">
                  <label for="txtThaiPercentage">สัญชาติไทย (ร้อยละ)</label>
                  <input type="number" class="form-control" id="txtThaiPercentage" min="0" max="100" [(ngModel)]="model.company.thaiPercentage"
                    (keyup)="calPercentage()" (change)="calPercentage()">
                </div>
                <div class="form-group col-lg-3 col-12">
                  <label for="txtForeignPercentage">ต่างชาติ (ร้อยละ)</label>
                  <input type="number" class="form-control" id="txtForeignPercentage" min="0" max="100" [(ngModel)]="model.company.foreignPercentage"
                    (keyup)="calPercentage()" (change)="calPercentage()">
                </div>
                <div class="form-group col-lg-3 col-12">
                  <label for="txtSumPercentage">รวม (ร้อยละ)</label>
                  <input type="number" class="form-control" id="txtSumPercentage" min="0" max="100" [(ngModel)]="SumPercentage" readonly>
                </div>
              </div>
              <!-- ข้อ 6  -->
              <div class="row mt-3">
                <div class="col-lg-3 col-12 ">
                  6. จำนวนพนักงานในบริษัทของท่าน
                </div>
                <div class="col-lg-8 col-12 ml-3">
                  <div class="row">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="rd50" name="rdEmployeeNo" class="custom-control-input" [(ngModel)]="model.company.employeeNo" [value]="'น้อยกว่า 50'">
                      <label class="custom-control-label" for="rd50">น้อยกว่า 50</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="rd200" name="rdEmployeeNo" class="custom-control-input" [(ngModel)]="model.company.employeeNo" [value]="'50-200'">
                      <label class="custom-control-label" for="rd200">50-200</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="rd500" name="rdEmployeeNo" class="custom-control-input" [(ngModel)]="model.company.employeeNo" [value]="'201-5000'">
                      <label class="custom-control-label" for="rd500">201-5000</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="rdMax" name="rdEmployeeNo" class="custom-control-input" [(ngModel)]="model.company.employeeNo" [value]="'มากกว่า 5000'">
                      <label class="custom-control-label" for="rdMax">มากกว่า 5000</label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ข้อ 7  -->
              <div class="row mt-3">
                <div class="col-lg-3 col-12 ">
                  7. บริษัทของท่านอยู่ในส่วนใดของห่วงโซ่คุณค่า (Value Chain) ของอุตสาหกรรม
                </div>
                <div class="col-lg-8 col-12 ml-3">
                  <div class="row">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="ckRawMaterials" [(ngModel)]="model.company.valueChainRawMat">
                      <label class="custom-control-label" for="ckRawMaterials">วัตถุดิบ</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="ckManufacturing" [(ngModel)]="model.company.valueChainComponent">
                      <label class="custom-control-label" for="ckManufacturing">สินค้าที่ใช้ในการผลิตและส่วนประกอบของสินค้า</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="ckFinalProduct" [(ngModel)]="model.company.valueChainFinishgood">
                      <label class="custom-control-label" for="ckFinalProduct">สินค้าขั้นสุดท้าย</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="ckServices" [(ngModel)]="model.company.valueChainServices">
                      <label class="custom-control-label" for="ckServices">การบริการ</label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ข้อ 8  -->
              <div class="row mt-3">
                <div class="col-lg-3 col-12 ">
                  8. ท่านอยู่ในอุตสาหกรรมใด
                  <span class="star">*</span>
                </div>
                <div class="col-lg-8 col-12 ml-3">
                  <div class="row">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="rdAutomotive" name="rdIndustry" class="custom-control-input" [(ngModel)]="model.company.industryId"
                        [value]="1">
                      <label class="custom-control-label" for="rdAutomotive">ยานยนต์</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="rdElectronics" name="rdIndustry" class="custom-control-input" [(ngModel)]="model.company.industryId"
                        [value]="2">
                      <label class="custom-control-label" for="rdElectronics">อิเล็กทรอนิกส์</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="rdBiotechnology" name="rdIndustry" class="custom-control-input" [(ngModel)]="model.company.industryId"
                        [value]="3">
                      <label class="custom-control-label" for="rdBiotechnology">เทคโนโลยีชีวภาพ</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="rdProcessedFood" name="rdIndustry" class="custom-control-input" [(ngModel)]="model.company.industryId"
                        [value]="4">
                      <label class="custom-control-label" for="rdProcessedFood">อาหารแปรรูป</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="rdAutomationRobotics" name="rdIndustry" class="custom-control-input" [(ngModel)]="model.company.industryId"
                        [value]="5">
                      <label class="custom-control-label" for="rdAutomationRobotics">ระบบอัตโนมัติและหุ่นยนต์</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="custom-control custom-radio">
                      <input type="radio" id="rdAerospace" name="rdIndustry" class="custom-control-input" [(ngModel)]="model.company.industryId"
                        [value]="6">
                      <label class="custom-control-label" for="rdAerospace">อากาศยาน</label>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div>
              <div class="row mt-3">
                <div class="alert alert-info col-12" role="alert">
                  <strong>ส่วนที่ 2: </strong>แบบประเมินสถานการณ์ขีดความสามารถในการแข่งขันสำหรับผู้ประกอบการ
                </div>
              </div>
              <div class="row">
                <div class="alert alert-warning col-12" role="alert">
                  คำชี้แจง :
                  <br>1. แบบประเมินแบ่งออกเป็น 3 หัวข้อหลัก และแต่ละหัวข้อหลักจะประกอบด้วยหัวข้อย่อย
                  <br>2. กรุณาประเมินสถานการณ์ขีดความสามารถในการแข่งขันสำหรับผู้ประกอบการ
                  <br>3. กรุณาเติมคะแนนที่ตรงกับสถานะปัจจุบันตามความเป็นจริงทุกข้อโดยใช้เกณฑ์การประเมินที่กำหนดในแต่ละหัวข้อย่อย
                  และเติมในคอลัมน์ “คะแนน”
                  <br>
                  <br>ข้อมูลที่ท่านประเมินจะถูกเก็บเป็นความลับไม่มีการเปิดเผยข้อมูลเป็นรายบริษัทข้อมูลใช้เพื่อการศึกษาอุตสาหกรรมในภาพรวมเท่านั้น
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="col-lg-6 col-3 text-center font-weight-bold">
                      รายการ
                    </div>
                    <div class="col-lg-6 col-9 text-center font-weight-bold">
                      เกณฑ์การให้คะแนน
                      <span class="nobr">(1 = แย่ที่สุด ถึง 4 = ดีที่สุด)</span>
                    </div>
                  </div>

                  <ng-container *ngFor="let assessment of model.assessmentData;let ci = index">

                    <ng-container *ngIf="assessment.pillarNo != ''">
                      <div class="row mt-3">
                        <div class="alert alert-success col-12" role="alert">
                          {{assessment.pillarName}}
                        </div>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="assessment.pillarNo == ''">
                      <div class="row mt-3">
                        <div class="col-md-6">
                          <div class="row">
                            <!-- Lv1 -->
                            <div *ngIf="assessment.groupOfIndicatorNo != ''" class="col-lg-6  col-12 mr-4 font-weight-bold">
                              <strong class="mr-2 ">{{assessment.groupOfIndicatorNo}}</strong>{{assessment.groupOfIndicatorName}}
                            </div>
                            <!-- Lv2 -->
                            <div *ngIf="assessment.groupOfIndicatorNo == ''" class="col-lg-6 col-12 ml-4">
                              <strong class="mr-2">{{assessment.indicatorNo}}</strong>{{assessment.indicatorName}}
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="row">
                            <div *ngIf="assessment.assNo != '0'" class="custom-control custom-radio custom-radio-big-size custom-control-inline offset-1 offset-lg-0">
                              <input type="radio" id="score_1_{{assessment.assNo}}" name="score{{assessment.assNo}}" class="custom-control-input" [value]="1"
                                [(ngModel)]="assessment.score">
                              <label class="custom-control-label choice choice-1" for="score_1_{{assessment.assNo}}"></label>
                            </div>
                            <!-- Choose -->
                            <div *ngIf="assessment.assNo != '0'" class="custom-control custom-radio custom-radio-big-size custom-control-inline">
                              <input type="radio" id="score_2_{{assessment.assNo}}" name="score{{assessment.assNo}}" class="custom-control-input" [value]="2"
                                [(ngModel)]="assessment.score">
                              <label class="custom-control-label choice choice-2" for="score_2_{{assessment.assNo}}"></label>
                            </div>

                            <div *ngIf="assessment.assNo != '0'" class="custom-control custom-radio custom-radio-big-size custom-control-inline">
                              <input type="radio" id="score_3_{{assessment.assNo}}" name="score{{assessment.assNo}}" class="custom-control-input" [value]="3"
                                [(ngModel)]="assessment.score">
                              <label class="custom-control-label choice choice-3" for="score_3_{{assessment.assNo}}"></label>
                            </div>

                            <div *ngIf="assessment.assNo != '0'" class="custom-control custom-radio custom-radio-big-size custom-control-inline">
                              <input type="radio" id="score_4_{{assessment.assNo}}" name="score{{assessment.assNo}}" class="custom-control-input" [value]="4"
                                [(ngModel)]="assessment.score">
                              <label class="custom-control-label choice choice-4" for="score_4_{{assessment.assNo}}"></label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Detail -->
                      <div *ngIf="assessment.description != ''" class="row">
                        <div class="col-lg-6">
                        </div>
                        <div class="col-lg-5 mt-3 offset-1 offset-lg-0">
                          <button class="btn btn-sm  btn-light font-bold-normal" type="button" data-toggle="collapse" aria-expanded="false" [attr.data-target]="'#collapse' + assessment.assNo">
                            รายละเอียด
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                          </button>
                          <div class="collapse ml-4" [attr.id]="'collapse' + assessment.assNo">
                            <div [innerHTML]="assessment.description"></div>
                          </div>
                        </div>
                      </div>

                    </ng-container>
                  </ng-container>

                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- ข้อ 3  -->
        <div class="row">
          <div class="col-12">
            <div>
              <div class="row mt-3">
                <div class="alert alert-info col-12" role="alert">
                  <strong>ส่วนที่ 3: </strong> ปัญหาและข้อเสนอแนะ
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="commentAssessment">ท่านมีข้อเสนอแนะที่เกี่ยวข้อง อาทิ นโยบาย กฎระเบียบ และมาตรการภาครัฐที่จะทำให้ธุรกิจของท่านสามารถแข่งขันกับคู่แข่งและคู่ค้าได้</label>
                    <textarea class="form-control" rows="5" id="commentAssessment" [(ngModel)]="model.assessment.remark"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="row">
          <div class="col-12 text-center">
            <button type="button" class="btn btn-primary" (click)="submit()">บันทึกข้อมูล</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END Step 1 -->

    <!-- Step 2 -->
    <div class="row" *ngIf="isPreviewReport">
      <div class="col-12">
        <self-assessment-report></self-assessment-report>
        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-primary" (click)="createNewSelfAssessment()">ทำแบบประเมิน</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END Step 2 -->

  </div>
</section>