<section id="pmi">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">แบบสอมถามการจัดทำ
          <br>Purchasing Managers Index (PMI)
        </h2>
      </div>
    </div>
  
    <hr class="mb-4">
    <div class="row mt-3">
      <div class="col-lg-1 col-12 mr-4">
        <div class="form-group text-lg-right ">
          <strong>
            <label class="col-form-label ">
              <span class="nobr"> วันที่เก็บข้อมูล :</span>
            </label>
          </strong>
        </div>
      </div>
      <div class="form-group col-lg-4 col-12 ">
        <input type="date" class="form-control" id="DateForm"  placeholder="วัน/เดือน/ปีพ.ศ" [(ngModel)]="model.PMIHEAD.FormDate">
        <small id="RemarkDateForm" class="form-text text-muted"></small>
      </div>
      <div class="col-lg-2 col-12">
        <div class="form-group text-lg-right">
          <strong>
            <label class="col-form-label ">
              <span class="nobr "> เลขที่แบบสอบถาม :</span>
            </label>
          </strong>
        </div>
      </div>
      <div class="form-group col-lg-4 col-12">
        <input type="text" class="form-control" id="NumberForm"  placeholder="" [(ngModel)]="model.PMIHEAD.FormNo">
        <small id="RemarkNumberForm" class="form-text text-muted"></small>
      </div>
    </div>
    <hr class="mb-4">

    <div class="row">
      <div class="alert alert-warning col-12" role="alert">
        คำชี้แจ้ง แบบสอบถาม
      </div>
    </div>
    <div class="row">
      <div class="alert alert-info col-12" role="alert">
        <strong>ส่วนที่ 1: </strong> ข้อมูลทั่วไป
      </div>
    </div>
    <!-- ชื่อผู้ใช้สัมภาษณ์: -->
    <div class="row mt-3">
      <div class="col-lg-2 col-12 ">
        <div class="form-group">
          <strong> ข้อมูลผู้ให้สัมภาษณ์ :</strong>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-12">

      </div>
      <div class="form-group col-lg-5 col-12">
        <label for="txtInformantFName">ชื่อ:</label>
        <input type="text" class="form-control" id="txtInformantFName" placeholder="ชื่อผู้ให้สัมภาษณ์" [(ngModel)]="model.PMIHEAD.InformantFName">
      </div>
      <div class="form-group col-lg-5 col-12">
        <label for="txtInformantLName">นามสกุล :</label>
        <input type="text" class="form-control" id="txtInformantLName" placeholder="นามสกุลผู้ให้สัมภาษณ์" [(ngModel)]="model.PMIHEAD.InformantLName">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-12"></div>
      <div class="form-group col-lg-5 col-12">
        <label for="txtInformantPosition">ตำแหน่ง :</label>
        <input type="text" class="form-control" id="txtInformantPosition" [(ngModel)]="model.PMIHEAD.InformantPosition">
      </div>
      <div class="form-group col-lg-5 col-12">
        <label for="txtInformantCompany">ชื่อสถานประกอบการ:</label>
        <input type="text" class="form-control" id="txtInformantCompany" [(ngModel)]="model.PMIHEAD.InformantCompany">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-12"></div>
      <div class="form-group col-lg-5 col-12">
        <label for="ddIndustry">กลุ่มอุตสาหกรรม :</label>
        <div class="form-group">
          <select id="ddIndustry" class="form-control" [(ngModel)]="model.PMIHEAD.Industry_ID">
            <option value="0" selected>- - กรุณาเลือก - -</option>
            <option value="1">ยานยนต์</option>
            <option value="2">อิเล็กทรอนิกส์</option>
            <option value="3">เทคโนโลยีชีวภาพ</option>
            <option value="4">อาหารแปรรูป</option>
            <option value="5">ระบบอัตโนมัติและหุ่นยนต์</option>
            <option value="6">อากาศยาน</option>
          </select>
        </div>
      </div>
      <div class="form-group col-lg-5 col-12">
        <label for="txtProduct">ผลิตภัณฑ์:</label>
        <input type="text" class="form-control" id="txtProduct" [(ngModel)]="model.PMIHEAD.Product">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-12"></div>
      <div class="form-group col-lg-2 col-12">
        <label for="txtSaleDomestic">จำหน่ายในประเทศร้อยละ :</label>
        <input type="number" class="form-control" id="txtSaleDomestic" min="0" max="100" [(ngModel)]="model.PMIHEAD.SaleDomestic">
      </div>
      <div class="form-group col-lg-2 col-12">
        <label for="txtSaleOversea">ส่งออกร้อยละ :</label>
        <input type="number" class="form-control" id="txtSaleOversea" min="0" max="100" [(ngModel)]="model.PMIHEAD.SaleOversea">
      </div>
      <div class="form-group col-lg-6 col-12">
        <label for="txtContactNo">ส่งออกไปประเทศ :</label>
        <div class="row form-group">

          <label for="txtExportCountry1" class="col-form-label col-lg-1 col-1 text-lg-right">1.</label>
          <input type="text" class="form-control col-lg-3 col-11" id="txtExportCountry1" [(ngModel)]="model.PMIHEAD.ExportCountry1">

          <label for="txtExportCountry2" class="col-form-label col-lg-1 col-1 text-lg-right">2.</label>
          <input type="text" class="form-control col-lg-3 col-11" id="txtExportCountry2" [(ngModel)]="model.PMIHEAD.ExportCountry2">

          <label for="txtExportCountry3" class="col-form-label col-lg-1 col-1 text-lg-right">3.</label>
          <input type="text" class="form-control col-lg-3 col-11" id="txtExportCountry3" [(ngModel)]="model.PMIHEAD.ExportCountry3">

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-12"></div>
      <div class="form-group col-lg-5 col-12">
        <label for="txtPhone">โทรศัพท์ :</label>
        <input type="text" class="form-control" id="txtPhone" [(ngModel)]="model.PMIHEAD.Phone">
      </div>
      <div class="form-group col-lg-5 col-12">
        <label for="txtFax">โทรสาร:</label>
        <input type="text" class="form-control" id="txtFax" [(ngModel)]="model.PMIHEAD.Fax">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-12"></div>
      <div class="form-group col-lg-10 col-12">
        <label for="txtEmail">อีเมล :</label>
        <input type="text" class="form-control" id="txtEmail" [(ngModel)]="model.PMIHEAD.Email">
      </div>
      <div class="form-group col-lg-5 col-12">

      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-12"></div>
      <div class="col-lg-10 col-12">
        <div class="form-group">
          <label for="txtAddress">ที่อยู่ :</label>
          <textarea class="form-control" rows="5" id="txtAddress" [(ngModel)]="model.PMIHEAD.Address"></textarea>
        </div>
      </div>
    </div>
    <!-- ขนาดของกลุ่มอุตสาหกรรม -->

    <div class="row mt-3">
      <div class="col-lg-2 col-12">
        <div class="form-group">
          <strong>
            <span class="nobr"> ขนาดของกลุ่มอุตสาหกรรม :</span>
          </strong>
        </div>
      </div>
      <div class="form-group col-lg-3 col-12">
        <div class="custom-control custom-radio mr-sm-2">
          <input type="radio" class="custom-control-input" id="rdSmall" name="rdInd"  [value]="'กลุ่มอุตสาหกรรมขนาดเล็ก'" [(ngModel)]="model.PMIHEAD.IndustrySize">
          <label class="custom-control-label" for="rdSmall">กลุ่มอุตสาหกรรมขนาดเล็ก</label>
        </div>
      </div>
      <div class="form-group col-lg-3 col-12">
        <div class="custom-control custom-radio mr-sm-2">
          <input type="radio" class="custom-control-input" id="rdMid" name="rdInd" [value]="'กลุ่มอุตสาหกรรมขนาดกลาง'" [(ngModel)]="model.PMIHEAD.IndustrySize">
          <label class="custom-control-label" for="rdMid">กลุ่มอุตสาหกรรมขนาดกลาง</label>
        </div>
      </div>
      <div class="form-group col-lg-4 col-12">
        <div class="custom-control custom-radio mr-sm-2">
          <input type="radio" class="custom-control-input" id="rdBig" name="rdInd" [value]="'กลุ่มอุตสาหกรรมขนาดใหญ่'" [(ngModel)]="model.PMIHEAD.IndustrySize">
          <label class="custom-control-label" for="rdBig">กลุ่มอุตสาหกรรมขนาดใหญ่</label>
        </div>
      </div>
    </div>
    <!-- จำนวนแรงงาน -->
    <div class="row mt-3">
      <div class="col-lg-2 col-12">
        <div class="form-group">
          <strong>จำนวนแรงงาน :</strong>
        </div>
      </div>
      <div class="form-group col-lg-3 col-12">
        <div class="custom-control custom-radio mr-sm-2">
          <input type="radio" class="custom-control-input" id="rd1" name="rdEmp" [value]="'1 - 49 คน'" [(ngModel)]="model.PMIHEAD.CountWorker">
          <label class="custom-control-label" for="rd1">1 - 49 คน</label>
        </div>
      </div>
      <div class="form-group col-lg-3 col-12">
        <div class="custom-control custom-radio mr-sm-2">
          <input type="radio" class="custom-control-input" id="rd49" name="rdEmp" [value]="'50 - 199 คน'" [(ngModel)]="model.PMIHEAD.CountWorker">
          <label class="custom-control-label" for="rd49">50 - 199 คน</label>
        </div>
      </div>
      <div class="form-group col-lg-4 col-12">
        <div class="custom-control custom-radio mr-sm-2">
          <input type="radio" class="custom-control-input" id="rd200" name="rdEmp" [value]="'200 คนขึ้นไป'" [(ngModel)]="model.PMIHEAD.CountWorker">
          <label class="custom-control-label" for="rd200">200 คนขึ้นไป</label>
        </div>
      </div>
    </div>
    <!-- มูลค่าเงินทุนจดทะเบียน -->
    <div class="row mt-3">
      <div class="col-lg-2 col-12">
        <div class="form-group">
          <strong> มูลค่าเงินทุนจดทะเบียน :</strong>
        </div>
      </div>
      <div class="form-group col-lg-3 col-12">
        <div class="custom-control custom-radio mr-sm-2 ">
          <input type="radio" class="custom-control-input" id="rdMoney1" name="rdCValue" [value]="'1 - 49 ล้านบาท'" [(ngModel)]="model.PMIHEAD.CapitalValue">
          <label class="custom-control-label" for="rdMoney1">1 - 49 ล้านบาท</label>
        </div>
      </div>
      <div class="form-group col-lg-3 col-12">
        <div class="custom-control custom-radio mr-sm-2">
          <input type="radio" class="custom-control-input" id="rdMoney49" name="rdCValue" [value]="'50 - 199 ล้านบาท'" [(ngModel)]="model.PMIHEAD.CapitalValue">
          <label class="custom-control-label" for="rdMoney49">50 - 199 ล้านบาท</label>
        </div>
      </div>
      <div class="form-group col-lg-4 col-12">
        <div class="custom-control custom-radio mr-sm-2">
          <input type="radio" class="custom-control-input" id="rdMoney200" name="rdCValue" [value]="'200 ล้านบาทขึ้นไป'" [(ngModel)]="model.PMIHEAD.CapitalValue">
          <label class="custom-control-label" for="rdMoney200">200 ล้านบาทขึ้นไป</label>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="alert alert-info col-12" role="alert">
        <strong>ส่วนที่ 2: </strong> กรุณาเปรียบเทียบสถานการณ์ธุรกิจของท่าน ณ เดือนปัจจุบันเมื่อเปรียบเทียบกับเดือนที่ผ่านมา และคาดการณ์เดือนหน้ากับเดือนนี้
        รวมถึงในอีก 3 เดือนข้างหน้ากับเดือนนี้
        <br>โดยระบุข้อมูลในช่องเพิ่ม ลดลงหรือเท่าเดิม รวมถึงใส่ร้อยละการเปลี่ยนแปลงในช่องเปอร์เซ็น (%)
      </div>
    </div>
    <div class="row table-overflow">
      <div class="col-12">
        <table class="table  table-bordered table-hover">
          <tr>
            <th rowspan="2" style="min-width:250px" class="text-center">รายการ</th>
            <!-- width: 40% -->
            <th colspan="3" class="text-center">เดือนปัจจุบันกับเดือนที่ผ่านมา</th>
            <!-- width: 30% -->
            <th  class="text-center" >เดือนหน้า<br>กับเดือนนี้</th>
            <!-- width: 15% -->
            <th  class="text-center">3 เดือนหน้า<br>กับเดือนนี้</th>
            <!-- width: 15% -->
          </tr>
          <tr>
            <th style="min-width:110px" class="text-center">เปลี่ยนแปลง</th>
            <th style="width: 8% ; min-width:92px" class="text-center">%</th>
            <th style="min-width:150px" class="text-center">เหตุผล</th>
            <th style="min-width:110px" class="text-center">เปลี่ยนแปลง</th>
            <th style="min-width:110px" class="text-center">เปลี่ยนแปลง</th>
          </tr>
          <tr *ngFor="let dataRow of data">
            <td>
              <div [innerHTML]="dataRow.NameList"></div>
            </td>
            <td>
              <div class="form-group">
                <select class="custom-select" required  id="ddChangeMNO_{{dataRow.Code_ID}}" [(ngModel)]="dataRow.Month_CurrentLast_Change" >
                  <option value=""></option>
                  <option value="เพิ่ม" >เพิ่ม</option>
                  <option value="ลด" >ลด</option>
                  <option value="เท่าเดิม">เท่าเดิม</option>
                </select>
              </div>
            </td>
            <td>
              <div class="form-group row">
                <div class="col-sm-12">
                  <input type="number" class="form-control"  id="txtPersenMNO_{{dataRow.Code_ID}}" [(ngModel)]="dataRow.Month_CurrentLast_Percent">
                </div>
              </div>
            </td>
            <td>
              <div class="form-group row">
                <div class="col-sm-12">
                  <textarea class="form-control" rows="1" id="txtRemarkMNO_{{dataRow.Code_ID}}"  min="0" max="100" [(ngModel)]="dataRow.Month_CurrentLast_Remark"></textarea>
                </div>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="custom-select" required id="ddChangeMNN_{{dataRow.Code_ID}}" [(ngModel)]="dataRow.Month_CurrentNext_Change">
                  <option value=""></option>
                  <option value="เพิ่ม" >เพิ่ม</option>
                  <option value="ลด" >ลด</option>
                  <option value="เท่าเดิม">เท่าเดิม</option>
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="custom-select" required id="ddChangeMN3_{{dataRow.Code_ID}}" [(ngModel)]="dataRow.Month_CurrentNext3_Change">
                  <option value=""></option>
                  <option value="เพิ่ม" >เพิ่ม</option>
                  <option value="ลด" >ลด</option>
                  <option value="เท่าเดิม">เท่าเดิม</option>
                </select>
              </div>
            </td>
          </tr>

        </table>
      </div>
    </div>
    <div class="row">
      <div class="alert alert-warning col-12" role="alert">
        คำถามเพื่อแสดงความคิดเห็น
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <div class="form-group">
          <strong> เดือนนี้ :</strong>
        </div>
      </div>
      <div class="form-group col-lg-5 col-12">
        <label for="txtCommentCMPositive">ปัจจัยบวก :</label>
        <textarea class="form-control" rows="3" id="txtCommentCMPositive" [(ngModel)]="model.PMIHEAD.Comment_CurrentMonth_Positive"></textarea>
      </div>
      <div class="form-group col-lg-5 col-12">
        <label for="txtCommentCMNegative">ปัจจัยลบ :</label>
        <textarea class="form-control" rows="3" id="txtCommentCMNegative" [(ngModel)]="model.PMIHEAD.Comment_CurrentMonth_Negative"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <div class="form-group">
          <strong> เดือนหน้า :</strong>
        </div>
      </div>
      <div class="form-group col-lg-5 col-12">
        <label for="txtCommentNMPositive">ปัจจัยบวก :</label>
        <textarea class="form-control" rows="3" id="txtCommentNMPositive" [(ngModel)]="model.PMIHEAD.Comment_NextMonth_Positive"></textarea>
      </div>
      <div class="form-group col-lg-5 col-12">
        <label for="txtCommentNMNegative">ปัจจัยลบ :</label>
        <textarea class="form-control" rows="3" id="txtCommentNMNegative" [(ngModel)]="model.PMIHEAD.Comment_NextMonth_Negative"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="alert alert-warning col-12" role="alert">
        ส่วนของเจ้าหน้าที่
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <div class="form-group">
          <strong>ผลการประเมิน :</strong>
        </div>
      </div>
      <div class="form-group col-lg-3 col-12">
        <div class="custom-control custom-radio mr-sm-2">
          <input type="radio" class="custom-control-input" id="rdEvaluationSmall" name="rdEvaluation" [value]="'มาก'" [(ngModel)]="model.PMIHEAD.Evaluation">
          <label class="custom-control-label" for="rdEvaluationSmall">มาก</label>
        </div>
      </div>
      <div class="form-group col-lg-3 col-12">
        <div class="custom-control custom-radio mr-sm-2">
          <input type="radio" class="custom-control-input" id="rdEvaluationMid" name="rdEvaluation" [value]="'ปานกลาง'" [(ngModel)]="model.PMIHEAD.Evaluation">
          <label class="custom-control-label" for="rdEvaluationMid">ปานกลาง</label>
        </div>
      </div>
      <div class="form-group col-lg-4 col-12">
        <div class="custom-control custom-radio mr-sm-2">
          <input type="radio" class="custom-control-input" id="rdEvaluationBig" name="rdEvaluation" [value]="'น้อย'" [(ngModel)]="model.PMIHEAD.Evaluation">
          <label class="custom-control-label" for="rdEvaluationBig">น้อย</label>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-2 col-12">
        <div class="form-group">
          <label class=" col-form-label">
            <strong>ชื่อเจ้าหน้าที่ที่สัมภาษณ์ :</strong>
          </label>
        </div>
      </div>
      <div class="form-group col-lg-5 col-12">
        <input type="text" class="form-control" id="txtInterviewerFName" placeholder="ชื่อเจ้าหน้าที่ที่สัมภาษณ์" [(ngModel)]="model.PMIHEAD.InterviewerFName">
      </div>
      <div class="form-group col-lg-5 col-12">
        <input type="text" class="form-control" id="txtInterviewerLName" placeholder="นามสกุลเจ้าหน้าที่ที่สัมภาษณ์" [(ngModel)]="model.PMIHEAD.InterviewerLName">
      </div>
    </div>
    <hr class="mb-4">
    <div class="row mt-3 ">
      <div class="col-12 text-center">
        <button type="button" class="btn btn-primary mr-3" (click)="submit()">บันทึกข้อมูล</button>
        <button type="button" class="btn btn-secondary ml-3" (click)="claer()">ล้างข้อมูล</button>
      </div>
    </div>
  </div>

</section>