﻿<section id="admin-user">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">กำหนดสิทธิการใช้งาน (Frontend)</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <a class="pull-right" routerLink="/admin/user/add">
                            <button type="button" class="btn btn-outline-success">
								<i class="fa fa-plus-circle mr-1"></i>เพิ่ม
							</button>
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-secondary" (click)="onRoleChange('Administrator')" [ngClass]="{'active': userRole=='Administrator'}">Administrator</button>
                            <button type="button" class="btn btn-secondary" (click)="onRoleChange('OIE Officer')" [ngClass]="{'active': userRole=='OIEOfficer'}">OIE Officer</button>
                            <button type="button" class="btn btn-secondary" (click)="onRoleChange('Registered User')" [ngClass]="{'active': userRole=='Registered User'}">Registered User</button>
                            <div class="mt-2 ml-2">
                                <i class="fa fa-spinner fa-lg fa-spin" *ngIf="loading"></i>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-hover mt-2">
                            <thead>
                                <tr>
                                    <th>UserName</th>
                                    <th>Name</th>
                                    <th width="5%" class="text-center">แก้ไข</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of getFilteredData()">
                                    <td class="text-left">{{user.userName}}</td>
                                    <td class="text-left">{{user.firstname}} {{user.lastname}}</td>
                                    <td class="text-center">
                                        <ng-container *ngIf="user.id >1; else elseEdit">
                                            <a class="btn btn-primary btn-sm" routerLink="/admin/user/{{user.id}}">แก้ไข</a>
                                        </ng-container>
                                        <ng-template #elseEdit>
                                            <label class="btn btn-sm">
												<s>แก้ไข</s>
											</label>
                                        </ng-template>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <ng-template #template>
            <div class="modal-header">
                <h5 class="modal-title">Confirmation required</h5>
            </div>
            <div class="modal-body">
                <p class="text-danger">You are going to delete
                    <b>{{itemToDelete?.url}}</b>.</p>
                <p>Are you ABSOLUTELY sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="confirmDelete()">YES</button>
                <button type="button" class="btn btn-secondary" (click)="declineDelete()">NO</button>
            </div>
        </ng-template>
    </div>
</section>