﻿<section id="admin-user">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading text-uppercase">กำหนดสิทธิการใช้งาน (Frontend)</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<form name="form" #f="ngForm" novalidate autocomplete="off">
					<div class="card mb-3">
						<div class="card-body">
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<label for="username">Username</label>
										<input type="text" class="form-control" autocomplete="off" name="name" [(ngModel)]="user.username" autocomplete="off" #username="ngModel"
										 [disabled]="id != 'add'" required/>
										<div *ngIf="username.errors && (username.dirty || username.touched)" class="alert alert-danger">
											<div [hidden]="!username.errors.required">
												UserName is required!
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<label for="password">Password</label>
										<input type="password" class="form-control" autocomplete="off" name="pass" [(ngModel)]="user.password" autocomplete="off"
										 #password="ngModel" required />
										<div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
											<div [hidden]="!password.errors.required">
												Password is required!
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<label for="firstName">FirstName</label>
										<input type="text" class="form-control" name="firstName" [(ngModel)]="user.firstname" #firstName="ngModel" required />
										<div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)" class="alert alert-danger">
											<div [hidden]="!firstName.errors.required">
												FirstName is required!
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<label for="lastName">LastName</label>
										<input type="text" class="form-control" name="lastName" [(ngModel)]="user.lastname" #lastName="ngModel" />
									</div>
								</div>
							</div>
							<h2 class="page-header" *ngIf="id!='changepassword'">ROLE</h2>
							<label class="custom-control custom-checkbox" *ngIf="id!='changepassword'">
								<input type="checkbox" class="custom-control-input" [(ngModel)]="user.isAdministrator" name="isAdministrator" id="isAdministrator">
								<label for="isAdministrator" class="custom-control-label">Administrator</label>
							</label>
							<label class="custom-control custom-checkbox" *ngIf="id!='changepassword'">
								<input type="checkbox" class="custom-control-input" [(ngModel)]="user.isOIEOfficer" name="isOIEOfficer" id="isOIEOfficer">
								<label for="isOIEOfficer" class="custom-control-label">OIE Officer</label>
							</label>
							<label class="custom-control custom-checkbox" *ngIf="id!='changepassword'">
								<input type="checkbox" class="custom-control-input" [(ngModel)]="user.isRegisteredUser" name="isRegisteredUser" id="isRegisteredUser">
								<label for="isRegisteredUser" class="custom-control-label">Registered User</label>
							</label>
						</div>
						<div class="card-footer">
							<a class="pull-right mx-1" routerLink="/admin/user">
								<button type="button" class="btn btn-light">
									<i class="fa fa-times-circle mr-1"></i>ยกเลิก</button>
							</a>
							<button type="button" class="btn btn-success pull-right mx-1" (click)="save(false)" type="submit" [disabled]="!f.form.valid || saving || !(user.isAdministrator || user.isOIEOfficer || user.isRegisteredUser)">
								<i class="fa fa-floppy-o mr-1"></i>บันทึก</button>
							<button type="button" class="btn btn-light pull-right" *ngIf="saving">
								<i class="fa fa-spinner fa-lg fa-spin"></i>Saving...</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>