<div class="row">
  <div class="col-lg-12 text-center" style="line-height: 1;">
    <img class="img-fluid mb-5" src="assets/img/homeabout.jpg" alt="">
    <h2 class="section-heading text-uppercase" style="line-height: 1;"><b style="">ความเป็นมา</b></h2><h2 class="section-heading text-uppercase" style="line-height: 1;"><span style="font-size: 18px;">ดัชนีวัดความสามารถในการแข่งขันของอุตสาหกรรมในภาพรวมและอุตสาหกรรมเป้าหมายจะสร้างจากดัชนี</span><span style="font-size: 18px;">ด้าน Inputs Process และ Outputs</span></h2><h2 class="section-heading text-uppercase" style="line-height: 1;"><span style="font-size: 18px;">ซึ่งสามารถแบ่งออกเป็นตัวชี้วัดหลักได้ 9 ด้าน</span></h2></div>
</div>









