<section id="document">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">แบบสอบถามสำหรับผู้ประกอบการ</h2>
            </div>
        </div>
        <!-- Step 1 -->
        <div class="row" *ngIf="!isPreviewReport">
            <div class="col-12">

                <div class="row">
                    <div class="col-12">
                        <div>
                            <div class="row d-none">
                                <div class="alert alert-warning col-12" role="alert">
                                    <strong>คำชี้แจง</strong>
                                    <br> อุตสาหกรรมยานยนต์สมัยใหม่ (Next - Generation Automotive) หมายความถึง การขยายธุรกิจในห่วงโซ่คุณค่าของอุตสาหกรรมยานยนต์เดิมด้วยเทคโนโลยี ส่งเสริมการใช้เทคโนโลยีการผลิตที่มีประสิทธิภาพและความแม่นยำสูง มีความปลอดภัยมากยิ่งขึ้น
                                    และที่สำคัญประหยัดพลังงานและเป็นมิตรต่อสิ่งแวดล้อม ยกตัวอย่างเช่น การผลิตชิ้นส่วนยานพาหนะที่ใช้เทคโนโลยีขั้นสูง การผลิตชิ้นส่วนความปลอดภัยและประหยัดพลังงาน การผลิตอุปกรณ์สำหรับรถยนต์ Electric Vehicles (EV) , Hybrid
                                    และ Plug in Hybrid Electric Vehicles (PHEV) การผลิตชิ้นส่วนระบบเชื้อเพลิง และการผลิตชิ้นส่วนระบบส่งกำลัง เป็นต้น
                                </div>
                            </div>

                            <div class="row">
                                <div class="alert alert-warning col-12" role="alert">
                                    แบบสอบถามนี้ประกอบด้วย 3 ส่วนดังต่อไปนี้
                                    <br>ส่วนที่ 1 ข้อมูลทั่วไปผู้ตอบแบบสอบถาม
                                    <br>ส่วนที่ 2 แบบประเมิน
                                    <u>ภาพรวม</u>อุตสาหกรรมอากาศยานของประเทศไทย ประเทศคู่ค้าและประเทศคู่แข่งที่สำคัญ
                                    <br>ส่วนที่ 3 ปัญหาและข้อเสนอแนะ
                                </div>
                            </div>
                            <div class="row">
                                <div class="alert alert-info col-12" role="alert">
                                    <strong>ส่วนที่ 1: </strong> ข้อมูลทั่วไป
                                </div>
                            </div>
                            <!-- ข้อ 1 -->
                            <div class="row">
                                <div class="col-lg-2 col-12">
                                    1.ชื่อบริษัท:
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-12">

                                </div>
                                <div class="form-group col-lg-5 col-12">
                                    <label for="companyTH">(ภาษาไทย)
                  </label>
                                    <input type="text" class="form-control" id="companyTH" placeholder="ชื่อบริษัทภาษาไทย" [(ngModel)]="model.company.companyNameTh">
                                </div>
                                <div class="form-group col-lg-5 col-12">
                                    <label for="companyEN">(ภาษาอังกฤษ)
                  </label>
                                    <input type="text" class="form-control" id="companyEN" placeholder="ชื่อบริษัทภาษาอังกฤษ" [(ngModel)]="model.company.companyName">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-12"></div>
                                <div class="form-group col-lg-10 col-12">
                                    <label for="companyNo">เลขทะเบียนนิติบุคคล :</label>
                                    <input type="text" class="form-control" id="companyNo" placeholder="เลขทะเบียนนิติบุคคล" [(ngModel)]="model.company.companyCard">
                                </div>
                            </div>
                            <!-- จบข้อ 1 -->

                            <!-- ข้อ 2 -->
                            <div class="row mt-3">
                                <div class="col-lg-2 col-12 ">
                                    2. ที่อยู่สำนักงานใหญ่:
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-12">

                                </div>
                                <div class="form-group col-lg-4 col-12">
                                    <label for="AddressNo">เลขที่:</label>
                                    <input type="text" class="form-control" id="AddressNo" [(ngModel)]="model.company.addressNo">
                                </div>
                                <div class="form-group col-lg-3 col-12">
                                    <label for="AddressBuilding">อาคาร:</label>
                                    <input type="text" class="form-control" id="AddressBuilding" [(ngModel)]="model.company.building">
                                </div>
                                <div class="form-group col-lg-3 col-12">
                                    <label for="AddressFloor">ชั้น:</label>
                                    <input type="text" class="form-control" id="AddressFloor" [(ngModel)]="model.company.floor">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-12">
                                </div>
                                <div class="form-group col-lg-4 col-12">
                                    <label for="AddressSoi">ซอย:</label>
                                    <input type="text" class="form-control" id="AddressSoi" [(ngModel)]="model.company.soi">
                                </div>
                                <div class="form-group col-lg-3 col-12">
                                    <label for="AddressStreet">ถนน:</label>
                                    <input type="text" class="form-control" id="AddressStreet" [(ngModel)]="model.company.street">
                                </div>
                                <div class="form-group col-lg-3 col-12">
                                    <label for="AddressTumbon">ตำบล:</label>
                                    <input type="text" class="form-control" id="AddressTumbon" [(ngModel)]="model.company.tumbon">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-12">
                                </div>
                                <div class="form-group col-lg-4 col-12">
                                    <label for="AddressAmphur">อำเภอ:</label>
                                    <input type="text" class="form-control" id="AddressAmphur" [(ngModel)]="model.company.amphur">
                                </div>
                                <div class="form-group col-lg-3 col-12">
                                    <label for="AddressProvince">จังหวัด:</label>
                                    <input type="text" class="form-control" id="AddressProvince" [(ngModel)]="model.company.province">
                                </div>
                                <div class="form-group col-lg-3 col-12">
                                    <label for="AddressPostCode">รหัสไปรษณีย์:</label>
                                    <input type="text" class="form-control" id="AddressPostCode" [(ngModel)]="model.company.postCode">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-12">
                                </div>
                                <div class="form-group col-lg-4 col-12">
                                    <label for="AddressPhone">โทรศัพท์:</label>
                                    <input type="text" class="form-control" id="AddressPhone" [(ngModel)]="model.company.phone">
                                </div>
                                <div class="form-group col-lg-3 col-12">
                                    <label for="AddressFax">โทรสาร:</label>
                                    <input type="text" class="form-control" id="AddressFax" [(ngModel)]="model.company.fax">
                                </div>
                                <div class="form-group col-lg-3 col-12">
                                    <label for="AddressWebsite">เว็บไซต์:</label>
                                    <input type="text" class="form-control" id="AddressWebsite" [(ngModel)]="model.company.website">
                                </div>
                            </div>
                            <!-- จบข้อ 2 -->

                            <!-- ข้อ 3 -->
                            <div class="row mt-3">
                                <div class="col-lg-2 col-12 ">
                                    3. ผู้ตอบแบบสอบถาม:
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-12">

                                </div>
                                <div class="form-group col-lg-5 col-12">
                                    <label for="txtContactName">ชื่อ:</label>
                                    <input type="text" class="form-control" id="txtContactName" placeholder="ชื่อผู้ตอบแบบสอบถาม" [(ngModel)]="model.company.contactName">
                                </div>
                                <div class="form-group col-lg-5 col-12">
                                    <label for="txtContactSurname">นามสกุล :</label>
                                    <input type="text" class="form-control" id="txtContactSurname" placeholder="นามสกุลผู้ตอบแบบสอบถาม" [(ngModel)]="model.company.contactSurname">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-12"></div>
                                <div class="form-group col-lg-4 col-12">
                                    <label for="txtContactPosition">ตำแหน่ง :</label>
                                    <input type="text" class="form-control" id="txtContactPosition" [(ngModel)]="model.company.contactPosition">
                                </div>
                                <div class="form-group col-lg-3 col-12">
                                    <label for="txtContactNo">โทรศัพท์ :</label>
                                    <input type="text" class="form-control" id="txtContactNo" [(ngModel)]="model.company.contactNo">
                                </div>
                                <div class="form-group col-lg-3 col-12">
                                    <label for="txtContactEmail">อีเมล์ :</label>
                                    <input type="text" class="form-control" id="txtContactEmail" [(ngModel)]="model.company.contactEmail">
                                </div>
                            </div>
                            <!-- จบข้อ 3 -->

                            <!-- ข้อ 4  -->
                            <div class="row mt-3">
                                <div class="form-group col-lg-2 col-12 ">
                                    <label for="txtMainProduct">4. บริษัทของท่านอยู่ในนิคมอุตสาหกรรมหรือไม่</label>
                                </div>
                                <div class="form-group col-lg-10 col-12 ">
                                    <div class="row">
                                        <div class="col">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="industrialEstateFalse" value="false" [(ngModel)]="model.company.industrialEstate">
                                                <label class="custom-control-label" for="industrialEstateFalse">ไม่ใช่</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="industrialEstateTrue" value="true" [(ngModel)]="model.company.industrialEstate">
                                                <label class="custom-control-label pt-lg-2" for="industrialEstateTrue">ใช่ (โปรดระบุนิคมอุตสาหกรรม)</label>
                                            </div>
                                        </div>
                                        <div class="col-lg">
                                            <input type="text" class="form-control" [(ngModel)]="model.company.industrialEstInfo">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group offset-lg-2 col-lg-5 col-12">
                                    <label for="txtMainProduct">ผลิตภัณฑ์หรือบริการหลัก (มูลค่ามากที่สุด)</label>
                                    <input type="text" class="form-control" id="txtMainProduct" placeholder="มูลค่ามากที่สุด" [(ngModel)]="model.company.mainProduct">
                                </div>
                                <div class="form-group col-lg-5 col-12">
                                    <label for="txtOtherProduct">ผลิตภัณฑ์หรือบริการรอง (มีได้มากกว่า 1 อย่าง)</label>
                                    <input type="text" class="form-control" id="txtOtherProduct" placeholder="มีได้มากกว่า 1 อย่าง" [(ngModel)]="model.company.otherProduct">
                                </div>
                            </div>
                            <!-- จบข้อ 4 -->

                            <!-- ข้อ 5  -->
                            <div class="row mt-3">
                                <div class="col-lg-3 col-12 ">
                                    5. สัดส่วนของสัญชาติหุ้นส่วนในบริษัท
                                </div>
                                <div class="form-group col-lg-3 col-12">
                                    <label for="txtThaiPercentage">สัญชาติไทย (ร้อยละ)</label>
                                    <input type="number" class="form-control" id="txtThaiPercentage" min="0" max="100" [(ngModel)]="model.company.thaiPercentage" (change)="calPercentage()" (keyup)="calPercentage()">
                                </div>
                                <div class="form-group col-lg-3 col-12">
                                    <label for="txtForeignPercentage">ต่างชาติ (ร้อยละ)</label>
                                    <input type="number" class="form-control" id="txtForeignPercentage" min="0" max="100" [(ngModel)]="model.company.foreignPercentage" (change)="calPercentage()" (keyup)="calPercentage()">
                                </div>
                                <div class="form-group col-lg-3 col-12">
                                    <label for="txtSumPercentage">รวม (ร้อยละ)</label>
                                    <input type="number" class="form-control" id="txtSumPercentage" min="0" max="100" [(ngModel)]="SumPercentage" readonly>
                                </div>
                            </div>
                            <!-- จบข้อ 5 -->

                            <!-- ข้อ 6  -->
                            <div class="row mt-3">
                                <div class="col-lg-3 col-12 ">
                                    6. จำนวนพนักงานในบริษัทของท่าน
                                </div>
                                <div class="col-lg-8 col-12 ml-3">
                                    <div class="row">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="rd50" name="rdEmployeeNo" class="custom-control-input" [(ngModel)]="model.company.employeeNo" [value]="'น้อยกว่า 50'">
                                            <label class="custom-control-label" for="rd50">น้อยกว่า 50</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="rd200" name="rdEmployeeNo" class="custom-control-input" [(ngModel)]="model.company.employeeNo" [value]="'50-200'">
                                            <label class="custom-control-label" for="rd200">50-200</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="rd500" name="rdEmployeeNo" class="custom-control-input" [(ngModel)]="model.company.employeeNo" [value]="'201-5000'">
                                            <label class="custom-control-label" for="rd500">201-5000</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="rdMax" name="rdEmployeeNo" class="custom-control-input" [(ngModel)]="model.company.employeeNo" [value]="'มากกว่า 5000'">
                                            <label class="custom-control-label" for="rdMax">มากกว่า 5000</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- จบข้อ 6 -->

                            <!-- ข้อ 7  -->
                            <div class="row mt-3">
                                <div class="col-lg-3 col-12 ">
                                    7. บริษัทของท่านอยู่ในส่วนใดของห่วงโซ่คุณค่า (Value Chain) ของอุตสาหกรรม
                                </div>
                                <div class="col-lg-8 col-12 ml-3">
                                    <div class="row">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="ckRawMaterials" [(ngModel)]="model.company.valueChainRawMat">
                                            <label class="custom-control-label" for="ckRawMaterials">วัตถุดิบ</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="ckManufacturing" [(ngModel)]="model.company.valueChainComponent">
                                            <label class="custom-control-label" for="ckManufacturing">สินค้าที่ใช้ในการผลิตและส่วนประกอบของสินค้า</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="ckFinalProduct" [(ngModel)]="model.company.valueChainFinishgood">
                                            <label class="custom-control-label" for="ckFinalProduct">สินค้าขั้นสุดท้าย</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="ckServices" [(ngModel)]="model.company.valueChainServices">
                                            <label class="custom-control-label" for="ckServices">การบริการ</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- จบข้อ 7 -->

                            <!-- ข้อ 8  -->
                            <div class="row mt-3">
                                <div class="col-lg-3 col-12 ">
                                    8. ท่านอยู่ในอุตสาหกรรมใด
                                    <span class="star">*</span>
                                </div>
                                <div class="col-lg-8 col-12 ml-3">
                                    <div class="row">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="rdAutomotive" name="rdIndustry" class="custom-control-input" [(ngModel)]="model.company.industryId" [value]="1">
                                            <label class="custom-control-label" for="rdAutomotive">ยานยนต์</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="rdElectronics" name="rdIndustry" class="custom-control-input" [(ngModel)]="model.company.industryId" [value]="2">
                                            <label class="custom-control-label" for="rdElectronics">อิเล็กทรอนิกส์</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="rdBiotechnology" name="rdIndustry" class="custom-control-input" [(ngModel)]="model.company.industryId" [value]="3">
                                            <label class="custom-control-label" for="rdBiotechnology">เทคโนโลยีชีวภาพ</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="rdProcessedFood" name="rdIndustry" class="custom-control-input" [(ngModel)]="model.company.industryId" [value]="4">
                                            <label class="custom-control-label" for="rdProcessedFood">อาหารแปรรูป</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="rdAutomationRobotics" name="rdIndustry" class="custom-control-input" [(ngModel)]="model.company.industryId" [value]="5">
                                            <label class="custom-control-label" for="rdAutomationRobotics">ระบบอัตโนมัติและหุ่นยนต์</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="rdAerospace" name="rdIndustry" class="custom-control-input" [(ngModel)]="model.company.industryId" [value]="6">
                                            <label class="custom-control-label" for="rdAerospace">อากาศยาน</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- จบข้อ 8 -->

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div>
                            <div class="row mt-3">
                                <div class="alert alert-info col-12" role="alert">
                                    <strong>ส่วนที่ 2: </strong>แบบประเมินอุตสาหกรรมยานยนต์สมัยใหม่ของประเทศไทย ประเทศคู่ค้าและประเทศคู่แข่งที่สำคัญ
                                </div>
                            </div>
                            <div class="row">
                                <div class="alert alert-warning col-12" role="alert">
                                    คำชี้แจง :
                                    <br>1. แบบประเมินแบ่งออกเป็น 3 หัวข้อหลัก และแต่ละหัวข้อหลักจะประกอบด้วยหัวข้อย่อย
                                    <br>2. กรุณาประเมินภาพรวมของอุตสาหกรรมนี้ของประเทศไทยประเทศคู่ค้าและประเทศคู่แข่งที่สำคัญ
                                    <br>3. กรุณาเติมคะแนนที่ตรงกับสถานะปัจจุบันตามความเป็นจริงทุกข้อโดยใช้เกณฑ์การประเมินที่กำหนดในแต่ละหัวข้อย่อย และเติมในคอลัมน์ “คะแนน”
                                    <br>
                                    <br>ข้อมูลที่ท่านประเมินจะถูกเก็บเป็นความลับไม่มีการเปิดเผยข้อมูลเป็นรายบริษัทข้อมูลใช้เพื่อการศึกษาอุตสาหกรรมในภาพรวมเท่านั้น
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-lg-6 col-3 text-center font-weight-bold">
                                            รายการ
                                        </div>
                                        <div class="col-lg-6 col-9 text-center font-weight-bold">
                                            เกณฑ์การให้คะแนน
                                            <span class="nobr">(1 = แย่ที่สุด ถึง 4 = ดีที่สุด)</span>
                                        </div>
                                    </div>


                                    <ng-container *ngFor="let item of model.primaryData;let ci = index">
                                        <!-- item.level == 1 -->
                                        <ng-container *ngIf="item.level == 1">
                                            <div class="row mt-3">
                                                <div class="alert alert-success col-12" role="alert">
                                                    {{item.No}} {{item.Name}}
                                                </div>
                                            </div>
                                        </ng-container>
                                        <!-- End item.level == 1 -->

                                        <!-- item.level != 1 && item.indicatorId == 0 -->
                                        <ng-container *ngIf="item.level != 1 && item.indicatorId == 0">
                                            <div class="row mt-3">
                                                <div class="col-lg-6  col-12 ml-{{item.level}}">
                                                    <span class="mr-2 {{item.level == 2?'font-weight-bold':''}}" [innerHTML]="item.No"></span>
                                                    <span class="{{item.level == 2?'font-weight-bold':''}}" [innerHTML]="item.Name"></span>
                                                    <br>
                                                    <span [innerHTML]="item.explanation"></span>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <!-- End item.level != 1 && item.indicatorId == 0 -->



                                        <!-- item.indicatorId != 0 -->
                                        <ng-container *ngIf="item.indicatorId != 0">
                                            <div class="row mt-3">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-6 pl-lg-5 offset-1 offset-lg-0">
                                                            {{item.Name}} :
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="custom-control custom-radio custom-radio-big-size custom-control-inline offset-1 offset-lg-0">
                                                            <input type="radio" id="score_1_{{item.indicatorId}}_{{item.Name}}" name="score{{item.indicatorId}}_{{item.Name}}" class="custom-control-input" [value]="1" [(ngModel)]="item.score">
                                                            <label class="custom-control-label choice choice-1" for="score_1_{{item.indicatorId}}_{{item.Name}}"></label>
                                                        </div>

                                                        <div class="custom-control custom-radio custom-radio-big-size custom-control-inline">
                                                            <input type="radio" id="score_2_{{item.indicatorId}}_{{item.Name}}" name="score{{item.indicatorId}}_{{item.Name}}" class="custom-control-input" [value]="2" [(ngModel)]="item.score">
                                                            <label class="custom-control-label choice choice-2" for="score_2_{{item.indicatorId}}_{{item.Name}}"></label>
                                                        </div>

                                                        <div class="custom-control custom-radio custom-radio-big-size custom-control-inline">
                                                            <input type="radio" id="score_3_{{item.indicatorId}}_{{item.Name}}" name="score{{item.indicatorId}}_{{item.Name}}" class="custom-control-input" [value]="3" [(ngModel)]="item.score">
                                                            <label class="custom-control-label choice choice-3" for="score_3_{{item.indicatorId}}_{{item.Name}}"></label>
                                                        </div>

                                                        <div class="custom-control custom-radio custom-radio-big-size custom-control-inline">
                                                            <input type="radio" id="score_4_{{item.indicatorId}}_{{item.Name}}" name="score{{item.indicatorId}}_{{item.Name}}" class="custom-control-input" [value]="4" [(ngModel)]="item.score">
                                                            <label class="custom-control-label choice choice-4" for="score_4_{{item.indicatorId}}_{{item.Name}}"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <!-- End item.indicatorId != 0 -->

                                        <!-- item.indicatorId != 0 -->
                                        <ng-container *ngIf="item.countryId == 99">
                                            <div class="row">
                                                <div class="col-10 col-lg-6 mt-2 offset-1 offset-lg-0">
                                                    <input type="text" id="txtOther" name="txtOther" class="form-control" [(ngModel)]="item.remark" [value]="6">
                                                </div>
                                                <!-- Description -->
                                                <div class="col-lg-5 mt-3 offset-1 offset-lg-0" *ngIf="item.description != ''">
                                                    <button class="btn btn-sm  btn-light font-bold-normal" type="button" data-toggle="collapse" aria-expanded="false" [attr.data-target]="'#collapse' + item.indicatorId">
                            รายละเอียด
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                          </button>
                                                    <div class="collapse ml-4" [attr.id]="'collapse' + item.indicatorId">
                                                        <div [innerHTML]="item.description"></div>
                                                    </div>
                                                </div>
                                                <!-- End Description -->
                                            </div>
                                        </ng-container>
                                        <!-- item.indicatorId != 0 -->

                                    </ng-container>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- ข้อ 3  -->
                <div class="row">
                    <div class="col-12">
                        <div>
                            <div class="row mt-3">
                                <div class="alert alert-info col-12" role="alert">
                                    <strong>ส่วนที่ 3: </strong> ปัญหาและข้อเสนอแนะ
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="personnel">1. ด้านบุคลากร</label>
                                        <textarea class="form-control" rows="5" id="personnel" [(ngModel)]="model.primaryDataHead.RecPeople"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="marketing">2. ด้านการตลาด</label>
                                        <textarea class="form-control" rows="5" id="marketing" [(ngModel)]="model.primaryDataHead.RecMkt"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="budget">3. ด้านเงินทุน</label>
                                        <textarea class="form-control" rows="5" id="budget" [(ngModel)]="model.primaryDataHead.RecCapital"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="technology">4. ด้านเทคโนโลยี</label>
                                        <textarea class="form-control" rows="5" id="technology" [(ngModel)]="model.primaryDataHead.RecTech"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="other">5. ด้านกฎระเบียบ และเงื่อนไขภาครัฐ / อื่นๆ</label>
                                        <textarea class="form-control" rows="5" id="other" [(ngModel)]="model.primaryDataHead.RecRegulation"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-12 text-center">
                        <button type="button" class="btn btn-primary" (click)="submit()" *ngIf="!saving">บันทึกข้อมูล</button>
                        <i class="fa fa-spinner fa-spin" *ngIf="saving"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Step 1 -->

        <!-- Step 2 -->
        <!-- <div class="row" *ngIf="isPreviewReport">
      <div class="col-12">
        <self-item-chart></self-item-chart>
        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-primary" (click)="createNewSelfitem()">ทำแบบประเมิน</button>
          </div>
        </div>
      </div>
    </div> -->
        <!-- END Step 2 -->

    </div>
</section>