<!-- Footer -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col">
				<span class="font-weight-bold">ติดต่อ</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<span class="font-weight-bold">ที่อยู่</span>
				<br/>
				<span>สำนักงานเศรษฐกิจอุตสาหกรรม 75/6 ถนนพระรามที่ 6 เขตราชเทวี กรุงเทพฯ 10400
					<br/>กองสารสนเทศและดัชนีเศรษฐกิจอุตสาหกรรม โทรศัพท์ 0-2202-4359 
				</span>
			</div>
			<div class="col-md-6">
				<span class="font-weight-bold">เวลาทำการ</span>
				<span>
					<br/>จันทร์-ศุกร์: 6.30-16.30</span>
			</div>
		</div>
	</div>
</footer>