<!-- start section footer -->
<div id="footer" class="text-center">
  <div class="container">
    <div class="socials-media text-center">

      <ul class="list-unstyled list-social">
        <li>
          <a href="https://web.facebook.com/niponjaiboon" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="http://nevelop.blogspot.com/" target="_blank">
            <i class="fa fa-rss-square" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://gitlab.com/Jaiboon" target="_blank">
            <i class="fa fa-gitlab" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://plus.google.com/102396215338958377433" target="_blank">
            <i class="fa fa-google" aria-hidden="true"></i>
          </a>
        </li>
      </ul>

    </div>

    <p>&copy; Copyrights Nevelop. All rights reserved.</p>

    <div class="credits">
      <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio
          -->
      Version 1.2
    </div>

  </div>
</div>
<!-- End section footer -->
