<app-navbar>
</app-navbar>

<!-- start section about us -->
<div id="about" class="paddsection">
  <div class="container">
    <div class="row justify-content-between">

      <div class="col-lg-4 ">
        <div class="div-img-bg">
          <div class="about-img">
            <img src="assets/images/me-des.jpg" class="img-responsive" alt="me">
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="about-descr">
          <p class="p-heading">{{about.des}}</p>
          <p class="separator">{{about.des_sub}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end section about us -->

<!-- start section services -->
<div id="services">
  <div class="container">
    <div class="services-carousel owl-theme">
      <div class="services-block" *ngFor="let items of model">
        <i class="{{items.Icon}}"></i>
        <span>{{items.Title}}</span>
        <p class="separator">{{items.Detail}}</p>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center pt-5 px-3">
    <div class="col-md-8">
      <div class="row">
        <div class="col-lg-6" *ngFor="let items of skill">
          <div class="progress-bars skill-custom">
            <div class="clearfix">
              <div class="p-text-score font-weight-bold float-left">{{items.name}}</div>
              <div class="text-muted float-right">{{items.progress}}</div>
            </div>
            <div class="progress mb-3">
              <div class="progress-bars-score" [ngStyle]="{ 'width': items.progress + '%' }" role="progressbar"
                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end section services -->

<!-- start section portfolio -->
<div id="portfolio" class="text-center paddsection">
  <div class="container">
    <div class="section-title text-center">
      <h2>My Portfolio</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="portfolio-list">

          <ul class="nav list-unstyled" id="portfolio-flters">
            <li class="filter filter-active" data-filter=".all">all</li>
            <li class="filter" data-filter=".FeedBack180">FeedBack180</li>
            <li class="filter" data-filter=".LAAS">LAAS</li>
            <li class="filter" data-filter=".KYZ">KYZ</li>
            <li class="filter" data-filter=".OIE">OIE</li>
            <li class="filter" data-filter=".CIMB">CIMB</li>

            <li class="filter" data-filter=".SIIS">SIIS</li>
            <li class="filter" data-filter=".PL">PL</li>
            <li class="filter" data-filter=".V4C">V4C</li>
            <li class="filter" data-filter=".INV">INV</li>
          </ul>

        </div>

        <div class="portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-thumbnail all LAAS KYZ OIE">
            <a class="popup-img" href="assets/images/portfolio/6.png">
              <img src="assets/images/portfolio/6.png" alt="img">
            </a>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-thumbnail all KYZ OIE">
            <a class="popup-img" href="assets/images/portfolio/1.png">
              <img src="assets/images/portfolio/1.png" alt="img">
            </a>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-thumbnail all  webdesig CIMB">
            <a class="popup-img" href="assets/images/portfolio/2.png">
              <img src="assets/images/portfolio/2.png" alt="img">
            </a>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-thumbnail all FeedBack180 LAAS CIMB SIIS PL V4C INV">
            <a class="popup-img" href="assets/images/portfolio/3.png">
              <img src="assets/images/portfolio/3.png" alt="img">
            </a>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-thumbnail all LAAS FeedBack180 KYZ CIMB SIIS PL V4C INV">
            <a class="popup-img" href="assets/images/portfolio/4.png">
              <img src="assets/images/portfolio/4.png" alt="img">
            </a>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-thumbnail all KYZ OIE">
            <a class="popup-img" href="assets/images/portfolio/5.png">
              <img src="assets/images/portfolio/5.png" alt="img">
            </a>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-thumbnail all KYZ OIE">
            <a class="popup-img" href="assets/images/portfolio/9.png">
              <img src="assets/images/portfolio/9.png" alt="img">
            </a>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-thumbnail all KYZ OIE">
            <a class="popup-img" href="assets/images/portfolio/7.png">
              <img src="assets/images/portfolio/7.png" alt="img">
            </a>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-thumbnail all KYZ OIE">
            <a class="popup-img" href="assets/images/portfolio/8.png">
              <img src="assets/images/portfolio/8.png" alt="img">
            </a>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-thumbnail all  SIIS PL V4C INV">
            <a class="popup-img" href="assets/images/portfolio/10.png">
              <img src="assets/images/portfolio/10.png" alt="img">
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
<!-- End section portfolio -->

<!-- start section journal -->
<div id="journal" class="text-left paddsection">

  <div class="container">
    <div class="section-title text-center">
      <h2>journal</h2>
    </div>
  </div>

  <div class="container">
    <div class="journal-block">
      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="journal-info">

            <a [routerLink]="['/blog']" routerLinkActive="router-link-active">
              <img src="assets/images/nipon.png" class="img-responsive" alt="img">
            </a>

            <div class="journal-txt">

              <h4>
                <a [routerLink]="['/blog']" routerLinkActive="router-link-active">เรื่องราวการทำงานกับ Isabaya
                  co.,ltd.</a>
              </h4>
              <p class="separator">นี้คือจุเริ่มต้นชของีวิตนักพัฒนาระบบคอมพิวเตอร์
                และเป็นวิถีทางการพัฒนาตนเองจากนักศึกษาจบใหม่ กลายเป็นผู้ชำนาญ
              </p>

            </div>

          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="journal-info">

            <a [routerLink]="['/pits']" routerLinkActive="router-link-active">
              <img src="assets/images/angula.png" class="img-responsive" alt="img">
            </a>

            <div class="journal-txt">

              <h4>
                <a [routerLink]="['/pits']" routerLinkActive="router-link-active">
                  สร้าง Project แบบง่ายด้วย AngularJS 5+ และ Bootstrap
                </a>
              </h4>
              <p class="separator">สิ่งที่จะได้รับเมื่ออ่านบทความนี้ จะได้รู้พื้นฐานการสร้าง Project AngularJS 5+
                ส่วนของการสร้าง Component การจัดการ
                Selector, TemplateUrl, Routes เป็นต้น จะได้เรียนรู้วิธีการติดตั้ง Bootstrap 4
              </p>

            </div>

          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="journal-info">

            <a [routerLink]="['/git']" routerLinkActive="router-link-active">
              <img src="assets/images/git.png" class="img-responsive" alt="img">
            </a>

            <div class="journal-txt">

              <h4>
                <a [routerLink]="['/git']" routerLinkActive="router-link-active">GIT จัดการงานให้มีขั้นตอน</a>
              </h4>
              <p class="separator">Git คือตัวจัดการ Version ที่ออกแบบมาเพื่อจัดการกับทุกอย่างไม่ว่าจะเล็กหรือใหญ่
                สามารถเข้าไปอ่านเพิ่มเติมได้ที่
                Git-scm.com
              </p>

            </div>

          </div>
        </div>

        <!-- <div class="col-lg-4 col-md-6" *ngFor=" let items of journal">
          <div class="journal-info">
            <a routerLinkActive="router-link-active">
              <img src="/{{items.img}}" class="img-responsive" alt="img">
            </a>
            <div class="journal-txt">
              <h4>
                <a [routerLink]="['/']" routerLinkActive="router-link-active">{{items.title}}</a>
              </h4>
              <p class="separator">
                {{items.description}}
              </p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>

</div>
<!-- End section journal -->

<!-- start sectoion contact -->
<div id="contact" class="paddsection">
  <div class="container">
    <div class="contact-block1">
      <div class="row">

        <div class="col-lg-6">
          <div class="contact-contact">

            <h2 class="mb-30">GET IN TOUCH</h2>

            <ul class="contact-details">
              <li>
                <span>อพาร์ทเมนท์ 49</span>
              </li>
              <li>
                <span>49 ซอย ดำเนินกลางใต้ กรุงเทพมหานคร 10200</span>
              </li>
              <li>
                <span>+66 0634191881</span>
              </li>
              <li>
                <span>Niponjaiboon@hotmail.com</span>
              </li>
            </ul>

          </div>
        </div>

        <div class="col-lg-6">
          <form action="" method="post" role="form" class="contactForm">
            <div class="row">

              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>

              <div class="col-lg-6">
                <div class="form-group contact-block1">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                    data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                    data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
              </div>

              <div class="col-lg-12">
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                    data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
              </div>

              <div class="col-lg-12">
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="12" data-rule="required"
                    data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
              </div>

              <div class="col-lg-12">
                <input type="submit" class="btn btn-defeault btn-send" value="Send message">
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- start sectoion contact -->

<!-- {{skill|json}} -->
