﻿<section id="document">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Export</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="bg-white rounded box-shadow">
                    <ng-container *ngFor="let exfile of data;let ci = index">
                        <div class="media text-muted pt-3">
                            <div class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
                                <div class="row d-flex justify-content-between align-items-center w-100">

                                    <div class="col-lg-4 col-12">
                                        <strong class="text-gray-dark">{{exfile.name}}</strong>
                                    </div>

                                    <div class="col-lg-3 col-12">
                                        <div *ngIf="exfile.paramyear != ''" class="row mt-3 ml-2">
                                            <div class="col-6 text-lg-right">
                                                <label class="mr-sm-2 col-form-label " for="inlineFormCustomSelect">ปี</label>
                                            </div>
                                            <div class="col-6 ">
                                                <select class="custom-select" name="year_{{exfile.id}}" id="year_{{exfile.id}}" [(ngModel)]="exfile.paramyear">
                          <option *ngFor="let year of getYears()" [value]="year">{{year}}</option>
                        </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-12">
                                        <div *ngIf="exfile.paramversion != ''" class="row mt-3 ml-2">
                                            <div class="col-6 text-lg-right">
                                                <label class="mr-sm-2 col-form-label " for="inlineFormCustomSelect">ชุดข้อมูลที่</label>
                                            </div>
                                            <div class="col-6 ">
                                                <select class="custom-select" name="version_{{exfile.id}}" id="version_{{exfile.id}}" [(ngModel)]="exfile.paramversion">
                          <option *ngFor="let vs of getVersions(exfile.paramyear)" [value]="vs">{{vs}}</option>
                        </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-2 col-12 text-right">
                                        <button type="button" class="btn btn-primary btn-sm mt-3" (click)="Export_Data(exfile)" [disabled]="exporting">
                      <i class="fa fa-spinner fa-lg fa-spin" *ngIf="exfile.exporting"></i>Export</button>
                                    </div>
                                </div>

                                <span class="d-block">{{exfile.detail}}</span>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</section>