﻿<section id="assessmentReport">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <img class="d-inline ml-1" src="/assets/img/th.png">
        <div class="d-inline ml-1">ค่าเฉลี่ยอุตสาหกรรม</div>
        <img class="d-inline ml-1" src="/assets/img/company.png">
        <div class="d-inline ml-1">ผู้ประกอบการประเมินตนเอง</div>
      </div>
    </div>
    <div  #focusdv class="row table-overflow " >
      <div class="col ">
        <div style="display: block;min-width:700px" >
          <canvas  baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
            [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)" [colors]="barChartColors"></canvas>
        </div>
      </div>
    </div>
   
  </div>
</section>