<!-- start section navbar -->
<nav id="main-nav-subpage" class="subpage-nav">
  <div class="row">
    <div class="container d-flex justify-content-center">

      <div class="logo">
        <a [routerLink]="['/home']" routerLinkActive="router-link-active">
          <img src="assets/images/logo-nevelop.png" alt="logo">
        </a>
      </div>
    </div>
  </div>
</nav>
<!-- End section navbar -->
<!-- start section main content -->
<div class="main-content paddsection">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="container-main single-main">
            <div class="col-md-12">
              <div class="block-main mb-30">
                <img src="assets/images/isabaya.png" class="img-responsive" alt="reviews2">
                <div class="content-main single-post padDiv">
                  <div class="journal-txt">
                    <h4>
                      <a href="#">เรื่องราวการกับ Isabaya co.,ltd.</a>
                    </h4>
                  </div>
                  <div class="post-meta">
                    <ul class="list-unstyled mb-0">
                      <li class="author">by:
                        <a href="#">Nipon Jaiboon</a>
                      </li>
                      <li class="date">date:
                        <a href="#">March 31, 2017</a>
                      </li>
                      <!-- <li class="commont"><i class="ion-ios-heart-outline"></i><a href="#">3 Comments</a></li> -->
                    </ul>
                  </div>
                  <p class="mb-30">นี้คือจุเริ่มต้นชของีวิตนักพัฒนาระบบคอมพิวเตอร์ และเป็นวิถีทางการพัฒนาตนเองจากนักศึกษาจบใหม่ กลายเป็นผู้ชำนาญ
                    เริ่มต้นเมื่อ 4 พฤศจิกายน 2556 เวลา 9 โมงเช้า การเข้ามาในกรุงเทพครั้งแรก ของหนุ่มบ้านนอก ที่แบกความฝันมาเต็มพิกัด
                    เมื่อเริ่มทำงานช่วงแรก จากสิ่งที่เรื่ยนมาชั้งแตกต่าจากการทำงานอย่างมาก ต้องใช้เวลาอยู่พักใหญ่เลยเพื่อเรียนรู้สิ่งใหม่จากพี่ๆ
                    ที่ทำงาน เริ่มต้นด้วยการดูระบบ ธนาคาร CIMB เป็นระบบ E-Banking ต้องทำ Code, Report, Document คือสาระพัด
                    ในการทำงานตรงนี้ ใช้เครื่องมือในการพัฒนาเป็น ASP.NET รวมกับ MSSQL และมีของใหม่ที่นำมาทำหน้าตาให้ดสวยงาม
                    คือ Devexpress ซึ่งนี้คือของใหม่มาก สิ่งที่ได้รับผิดชอบหลักๆ เลยคือ การทำ Report ที่เป็น .RDLC บอกตามตรงเลยว่านี้คือของใหม่มากอีกหละ
                    แต่นั้นไม่ใช้ปัญหาเื่อมีความตั้งใจที่จะอยากรู้ว่ามันทำยังไง หลังมาก็เริ่มรู้จนถึงขั้นว่ารู้มากเลยทีเดียว
                    และนี้คือ ชิ้นงานหลักในการทำ Report ของ ธนาคาร และนี้จะได้นำปใช้ประโยชน์กับที่ทำงานที่ถัดไปอีกด้วย เยี่ยมไปเลย
                  </p>
                  <p class="mb-30">มาลงรายละเอียดของการทำ Report เนื่องจากเรามีคนทำงานแบ่งกันทำเป็นส่วนๆ แล้วค่อยมาประกอบกันภายหลังซึ่งต้องคุยกันว่าอีกคนต้องการอะไร
                    แล้วคนที่ทำในส่วนประกอบต้องเตรียมอะไร ข้อมูลแบบไหนเพื่อให้เมื่อนำไปประกอบกันแล้วจะได้ลงตัวได้อย่างดี
                    เมื่อรู้ดงนั้นแล้ว ผมจึงได้เตรียมชุดข้อมูลไว้ตามที่พี่เค่าต้องการแล้ว นำข้อมูลนั้นไปลงใน Report ซึงแต่หละ
                    Report ก็จะต้องใช้ชุดขอมูลที่แตกต่างกันไป และบ้าง Report ก็จะต้องมีตัว Main Report และ Sub Report รวมอยู่ในนั้น
                    ในแต่ละตัวก็มีความยากง่ายแตกต่างกันไป บ้าง Report อาจใช้เวลาที่เพียง 30 นาทีก็เสร็จ แต่กับ อีกบ้างตัว
                    ต้องใช้ระยะเวลา ทั้งวันเพื่อทำ นั้นก็แล้วแต่ตัวๆ ไป</p>
                  <blockquote>ความสำคัญของการทำ Report คือการที่เราต้องมองภาพรวมให้ออกว่า Report มันแสดงข้อมูลแล้ว จะยังมีหน้าตาที่ดูเป็นแบบแผนในแนวทาง
                    ของความต้องการอยู่
                  </blockquote>
                  <p class="mb-30">ได้อะไรบ้างกับการทำงานที่ Isabaya คือได้รู้เชิงเทคนิคการออกแบบระบบ การทำเอกสาร การติดตั้งระบบ(IIS) การคุยความต้องการของระบบ
                  </p>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-12">
              <div class="comments text-left padDiv mb-30">
                <div class="entry-comments">
                  <h6 class="mb-30">4 comments</h6>
                  <ul class="entry-comments-list list-unstyled">
                    <li>
                      <div class="entry-comments-item">
                        <img src="assets/images/avatar.jpg" class="entry-comments-avatar" alt="">
                        <div class="entry-comments-body">
                          <span class="entry-comments-author">Sommer Christian</span>
                          <span>
                            <a href="#">fev 14, 2018 at 12:48 pm</a>
                          </span>
                          <p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam justo, ullamcorper tincidunt
                            pellentesque in, condimentum ut enim. Aenean at pharetra diam, quis vulputate urna. </p>
                          <a class="rep" href="#">Reply</a>
                        </div>
                      </div>
                      <ul class="entry-comments-reply list-unstyled">
                        <li>
                          <div class="entry-comments-item">
                            <img src="assets/images/avatar.jpg" class="entry-comments-avatar" alt="">
                            <div class="entry-comments-body">
                              <span class="entry-comments-author">Sara Smith</span>
                              <span>
                                <a href="#">fev 14, 2018 at 12:51 pm</a>
                              </span>
                              <p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam justo, ullamcorper tincidunt
                                pellentesque in, condimentum ut enim. Aenean at pharetra diam, quis vulputate urna.</p>
                              <a class="rep" href="#">Reply</a>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <div class="entry-comments-item">
                        <img src="assets/images/avatar.jpg" class="entry-comments-avatar" alt="">
                        <div class="entry-comments-body">
                          <span class="entry-comments-author">Andrew Lupkin</span>
                          <span>
                            <a href="#">fev 14, 2018 at 12:55 pm</a>
                          </span>
                          <p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam justo, ullamcorper tincidunt
                            pellentesque in, condimentum ut enim. Aenean at pharetra diam, quis vulputate urna. </p>
                          <a class="rep" href="#">Reply</a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div> -->
            <!-- <div class="col-lg-12">
              <div class="cmt padDiv">
                <form id="comment-form" method="post" action="" role="form">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input id="form_name" type="text" name="name" class="form-control" placeholder="Name *" required="required">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input id="form_email" type="email" name="email" class="form-control" placeholder="email *" required="required">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input id="form_name" type="text" name="website" class="form-control" placeholder="Website">
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="form-group">
                        <textarea id="form_message" name="message" class="form-control" placeholder="Message *" style="height: 200px;" required="required"></textarea>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <input type="submit" class="btn btn-defeault btn-send" value="Send message">
                    </div>
                  </div>
                </form>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  </div> -->
<!-- start section main content -->
