﻿<!-- Portfolio Grid -->
<section id="portfolio" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">รายงานความสามารถในการแข่งขันด้านเศรษฐกิจอุตสาหกรรม</h2>
        <h3 class="section-subheading "></h3>
      </div>
    </div>
    <div class="row">

      <div class="col-md-3 col-sm-6 portfolio-item" *ngFor="let item of model">
        <a class="portfolio-link" data-toggle="modal" [routerLink]="['/download/'+item.id]" routerLinkActive="router-link-active">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="{{global.getFullMediaUrl(item.imageFile)}}" alt="{{item.documentName}}">
        </a>
        <div class="portfolio-caption">
          <p class="">
            <ng-container *ngIf="item.parentId == 0; else elseTemplate">
             {{item.documentName}}
            </ng-container>
            <ng-template #elseTemplate>
              {{item.documentName}}
            </ng-template>
            
          </p>
        </div>
      </div>
    </div>
  </div>
</section>