﻿<section id="document">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">ดาวน์โหลด</h2>
            </div>
        </div>
        <div *ngFor="let level1 of model">
            <div class="row document">
                <div class="col">
                    <h4>
                        {{level1.documentName}}
                    </h4>
                </div>
                <div class="col-2 text-right">
                    <button class="btn btn-link {{isShow(level1)?'':'collapsed'}}" type="button" data-toggle="collapse" [attr.data-target]="'#doc' + level1.id">
						<i class="fa fa-chevron-down" aria-hidden="true"></i>
					</button>
                </div>
            </div>
            <div [attr.id]="'doc' + level1.id" class="row collapse {{isShow(level1)?'show':''}}">
                <div class="col ml-4">
                    <div *ngFor="let level2 of level1.documentChild">
                        <ng-container *ngIf="level2.documentChild.length > 0">
                            <div class="row document">
                                <div class="col">
                                    <h4>
                                        {{level2.documentName}}
                                    </h4>
                                </div>
                                <div class="col-2 text-right">
                                    <button class="btn btn-link {{isShow(level2)?'':'collapsed'}}" type="button" data-toggle="collapse" [attr.data-target]="'#doc' + level2.id">
										<i class="fa fa-chevron-down" aria-hidden="true"></i>
									</button>
                                </div>
                            </div>
                            <div [attr.id]="'doc' + level2.id" class="row collapse {{isShow(level2)?'show':''}}">
                                <div class="col">
                                    <div class="row document-item" *ngFor="let level3 of level2.documentChild">
                                        <div class="col-5 col-sm-3 col-md-3 col-lg-2">
                                            <img alt="" class="img-fluid document-thumbnail" src="{{global.getFullMediaUrl(level3.imageFile)}}">
                                        </div>
                                        <div class="col">
                                            {{level3.documentName}}
                                        </div>
                                        <div class="col-2 text-right">
                                            <a href="{{global.getFullMediaUrl(level3.documentFile)}}" target="_blank">
                                                <i class="fa fa-eye fa-2x ml-3" aria-hidden="true"></i>
                                            </a>
                                            <a href="{{global.getFullMediaUrl(level3.documentFile)}}" download>
                                                <i class="fa fa-download fa-2x ml-3" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="level2.documentChild.length == 0">
                            <div class="row document-item">
                                <div class="col-5 col-sm-3 col-md-3 col-lg-2">
                                    <img alt="" class="img-fluid document-thumbnail" src="{{global.getFullMediaUrl(level2.imageFile)}}">
                                </div>
                                <div class="col">
                                    {{level2.documentName}}
                                </div>
                                <div class="col-2 text-right">
                                    <a href="{{global.getFullMediaUrl(level2.documentFile)}}" target="_blank">
                                        <i class="fa fa-eye fa-2x ml-3" aria-hidden="true"></i>
                                    </a>
                                    <a href="{{global.getFullMediaUrl(level2.documentFile)}}" download>
                                        <i class="fa fa-download fa-2x ml-3" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>